body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:50px;
  width:203px;
  height:27px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:27px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:120px;
  width:246px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:310px;
  top:54px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTMono-Bold', 'PT Mono Bold', 'PT Mono';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u5 {
  position:absolute;
  left:310px;
  top:124px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTMono-Bold', 'PT Mono Bold', 'PT Mono';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u6 {
  position:absolute;
  left:40px;
  top:192px;
  width:87px;
  height:27px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:310px;
  top:196px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTMono-Bold', 'PT Mono Bold', 'PT Mono';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u9 {
  position:absolute;
  left:40px;
  top:270px;
  width:80px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:270px;
  width:80px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:240px;
  top:270px;
  width:80px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:340px;
  width:80px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:140px;
  top:340px;
  width:80px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:340px;
  width:80px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:410px;
  width:80px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:140px;
  top:410px;
  width:80px;
  height:60px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:240px;
  top:410px;
  width:80px;
  height:60px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:380px;
  top:270px;
  width:130px;
  height:70px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:380px;
  top:400px;
  width:130px;
  height:70px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
