body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:40px;
  width:90px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1_img.selected {
}
#u1.selected {
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u2 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:130px;
  top:40px;
  width:90px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3_img.selected {
}
#u3.selected {
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:230px;
  top:40px;
  width:90px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:330px;
  top:40px;
  width:90px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:430px;
  top:40px;
  width:110px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:550px;
  top:40px;
  width:110px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:670px;
  top:40px;
  width:80px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:760px;
  top:40px;
  width:110px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:900px;
  top:40px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:902px;
  top:42px;
  width:25px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19_img.mouseOver {
  width:35px;
  height:35px;
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:100px;
  width:840px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:823px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u22 {
  position:absolute;
  left:30px;
  top:140px;
  width:347px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:30px;
  top:210px;
  width:122px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:791px;
  top:287px;
  width:79px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:480px;
  top:325px;
  width:390px;
  height:35px;
  font-size:11px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:35px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:480px;
  top:360px;
  width:390px;
  height:35px;
  font-size:11px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:35px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:386px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:480px;
  top:395px;
  width:390px;
  height:35px;
  font-size:11px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:35px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:480px;
  top:430px;
  width:390px;
  height:35px;
  font-size:11px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:35px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:480px;
  top:465px;
  width:390px;
  height:35px;
  font-size:11px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:35px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:322px;
  width:59px;
  height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:149px;
  top:318px;
  width:267px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:30px;
  top:358px;
  width:79px;
  height:35px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:149px;
  top:364px;
  width:267px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:30px;
  top:416px;
  width:81px;
  height:35px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:149px;
  top:423px;
  width:48px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:149px;
  top:588px;
  width:267px;
  height:100px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  position:absolute;
  left:30px;
  top:588px;
  width:40px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:30px;
  top:238px;
  width:77px;
  height:35px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:35px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:149px;
  top:238px;
  width:267px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:30px;
  top:710px;
  width:56px;
  height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:149px;
  top:710px;
  width:267px;
  height:100px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:30px;
  top:466px;
  width:111px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:149px;
  top:462px;
  width:267px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:30px;
  top:504px;
  width:117px;
  height:35px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:149px;
  top:504px;
  width:267px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:30px;
  top:550px;
  width:90px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:149px;
  top:550px;
  width:267px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u65 {
  position:absolute;
  left:480px;
  top:238px;
  width:390px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u66 {
  position:absolute;
  left:784px;
  top:210px;
  width:86px;
  height:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:30px;
  top:284px;
  width:75px;
  height:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:149px;
  top:284px;
  width:100px;
  height:15px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:220px;
  top:284px;
  width:100px;
  height:15px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:30px;
  top:830px;
  width:83px;
  height:53px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:53px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:149px;
  top:830px;
  width:267px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
