body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:230px;
  width:260px;
  height:220px;
  opacity:0.400000005960464;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:220px;
}
#u0_img.mouseOver {
  width:270px;
  height:230px;
}
#u0.mouseOver {
}
#u1 {
  position:absolute;
  left:2px;
  top:102px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:230px;
  width:260px;
  height:220px;
  opacity:0.400000005960464;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:220px;
}
#u2_img.mouseOver {
  width:270px;
  height:230px;
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:102px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:620px;
  top:230px;
  width:260px;
  height:220px;
  opacity:0.400000005960464;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:220px;
}
#u4_img.mouseOver {
  width:270px;
  height:230px;
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:102px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:92px;
  top:242px;
  width:116px;
  height:148px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:148px;
}
#u7 {
  position:absolute;
  left:2px;
  top:66px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:380px;
  top:250px;
  width:140px;
  height:111px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:111px;
}
#u9 {
  position:absolute;
  left:2px;
  top:48px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:66px;
  top:415px;
  width:167px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:397px;
  top:415px;
  width:106px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:730px;
  top:415px;
  width:46px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:510px;
  width:237px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:110px;
  top:592px;
  width:860px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:570px;
  width:63px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:110px;
  top:662px;
  width:860px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:640px;
  width:63px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:710px;
  width:63px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:110px;
  top:718px;
  width:770px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:40px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:780px;
  width:63px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:110px;
  top:788px;
  width:770px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:40px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:850px;
  width:63px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:110px;
  top:858px;
  width:770px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:40px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:920px;
  width:63px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:110px;
  top:928px;
  width:770px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:40px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:342px;
  top:10px;
  width:180px;
  height:90px;
  opacity:0.449999988079071;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:90px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
  opacity:1;
}
#u44 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:521px;
  top:10px;
  width:180px;
  height:90px;
  opacity:0.449999988079071;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:90px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
  opacity:1;
}
#u46 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:20px;
  top:150px;
  width:860px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u48 {
  position:absolute;
  left:20px;
  top:10px;
  width:160px;
  height:100px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:700px;
  top:10px;
  width:180px;
  height:90px;
  opacity:0.449999988079071;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:90px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
  opacity:1;
}
#u51 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:720px;
  top:80px;
  width:200px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:50px;
  width:140px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:670px;
  top:250px;
  width:160px;
  height:160px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u58 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
