.GetBAMIconMenu {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.GetBAManchor {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}
.GetBAMcalendar {
	width: 32px;
	height: 32px;
	background-position: -33px 0;
}
.GetBAMchat {
	width: 32px;
	height: 32px;
	background-position: -66px 0;
}
.GetBAMclient {
	width: 32px;
	height: 32px;
	background-position: -99px 0;
}
.GetBAMedit {
	width: 32px;
	height: 32px;
	background-position: 0 -33px;
}
.GetBAMfinance {
	width: 32px;
	height: 32px;
	background-position: -33px -33px;
}
.GetBAMlist {
	width: 32px;
	height: 32px;
	background-position: -66px -33px;
}
.GetBAMno {
	width: 32px;
	height: 32px;
	background-position: -99px -33px;
}
.GetBAMpayment {
	width: 32px;
	height: 32px;
	background-position: 0 -66px;
}
.GetBAMstaff {
	width: 32px;
	height: 32px;
	background-position: -33px -66px;
}
.GetBAMstorage {
	width: 32px;
	height: 32px;
	background-position: -66px -66px;
}
.GetBAMtimecopy {
	width: 32px;
	height: 32px;
	background-position: -99px -66px;
}
.GetBAMtime {
	width: 32px;
	height: 32px;
	background-position: 0 -99px;
}
.GetBAMwatch {
	width: 32px;
	height: 32px;
	background-position: -33px -99px;
}
.GetBAMyes {
	width: 32px;
	height: 32px;
	background-position: -66px -99px;
}
