%main.main
  %section.section.section_first.banner.banner_content_center
    %span.banner__bg{:style => "background-image: url(img/services/complex/banner.jpg);"}
    .section__wrp.banner__wrp
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          Сложные решения
        .banner__line
          %svg{:viewbox => "0 0 47 4", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          Мы беремся за беспрецедентные задачи и амбициозные проекты.
          %br.xs-hide/
          Например, когда запрос клиента — стать лучшим на своем рынке.
  %section.section.complex-promo
    .section__wrp.complex-promo__wrp
      .section__header.complex-promo__header
        %h2.section__heading.heading.heading_type_h4.complex-promo__heading
          В каких случаях вам понадобится разработка сложного программного решения?
      .section__body.complex-promo__body
        .complex-promo__icon-row.icon-row
          .icon-row__list
            .icon-row__item.complex-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "complex", :src => "img/services/complex/promo/1.svg"}/
                %img.icon-row__bg{:alt => "complex", :src => "img/services/complex/promo/1_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Бизнес работает, но можно лучше, если автоматизировать часть процессов.
            .icon-row__item.complex-promo__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "300ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "complex", :src => "img/services/complex/promo/2.svg"}/
                %img.icon-row__bg{:alt => "complex", :src => "img/services/complex/promo/2_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Есть крутая идея стартапа, под которую нужен
                  %br.xs-hide/
                  %nobr веб-проект
                  или MVP
            .icon-row__item.complex-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "600ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "complex", :src => "img/services/complex/promo/3.svg"}/
                %img.icon-row__bg{:alt => "complex", :src => "img/services/complex/promo/3_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Бизнес хорошо работает в офлайне, но есть потребность выйти в онлайн.
            .icon-row__item.complex-promo__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "800ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "complex", :src => "img/services/complex/promo/4.svg"}/
                %img.icon-row__bg{:alt => "complex", :src => "img/services/complex/promo/4_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Нужна серьезная программная разработка для целого ряда задач, но держать свой штат
                  %nobr IT-специалистов
                  нерентабельно.
  %section.section.section_pad_large.section_green_light.complex-solution
    .section__wrp.complex-solution__wrp
      .section__header.section__header_compensate.complex-solution__header
        %h2.section__heading.heading.heading_type_h2.complex-solution__heading
          %span.section__heading-text
            Узнали себя?
        .section__caption.caption.caption_size_l
          Выберите подходящее решение!
      .section__body.complex-solution__body
        .complex-solution__icon-col.icon-col.icon-col_medium.icon-col_align-left.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.complex-solution__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "300ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/solution/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/solution/1_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/solution/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  %nobr Веб-сервисы
                  %br.sm-hide/
                  для ваших клиентов
                %ul.icon-col__dot-list.dot-list
                  %li.dot-list__item
                    .dot-list__caption
                      Личные кабинеты в интернет- магазинах и на корпоративных сайтах.
                  %li.dot-list__item
                    .dot-list__caption
                      Сервисы для бронирования услуг, выбора и покупки ПО.
                  %li.dot-list__item
                    .dot-list__caption
                      %nobr Онлайн-платежи
                      и доставка товара.
            .icon-col__item.complex-solution__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/solution/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/solution/2_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/solution/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  %nobr B2B-системы
                %ul.icon-col__dot-list.dot-list
                  %li.dot-list__item
                    .dot-list__caption
                      Сервисы для оформления и обработки заказов.
                  %li.dot-list__item
                    .dot-list__caption
                      Порталы для хранения
                      %br/
                      документов, формирования аналитики и отчетности.
                  %li.dot-list__item
                    .dot-list__caption
                      Интерфейсы для управления программами лояльности и оперативного общения с партнерами.
            .icon-col__item.complex-solution__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "300ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/solution/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/solution/3_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/solution/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Внутренние системы
                  %br/
                  для вашей компании
                %ul.icon-col__dot-list.dot-list
                  %li.dot-list__item
                    .dot-list__caption
                      Корпоративные порталы, сложные
                      %nobr интранет-проекты
                      (
                      %nobr в т. ч.
                      адаптивные).
                  %li.dot-list__item
                    .dot-list__caption
                      Системы дистанционного обучения (
                      %nobr> e-learning
                      ) и консультирования.
                  %li.dot-list__item
                    .dot-list__caption
                      CRM и 
                      %nobr> ERP-решения
                      \.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_large.complex-pluses
    .section__wrp.complex-pluses__wrp
      .section__header.section__header_compensate.complex-pluses__header
        %h2.section__heading.heading.heading_type_h2.complex-pluses__heading
          %span.section__heading-text НАШИ ПРЕИМУЩЕСТВА
      .section__body.complex-pluses__body
        .complex-pluses__icon-col.icon-col.icon-col_medium.icon-col_border.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.complex-pluses__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/pluses/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/pluses/1_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/pluses/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Высокая скорость работы
                .icon-col__caption.caption.caption_size_s
                  Разработка ведется итерациями длиной не более 
                  %nobr> 3-х
                   недель. После каждой из них заказчик видит результат, может его оценить и скорректировать.
            .icon-col__item.complex-pluses__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "600ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/pluses/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/pluses/2_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/pluses/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Прозрачность оплаты
                .icon-col__caption.caption.caption_size_s
                  Вы можете управлять стоимостью проекта: чем больше функций, тем выше цена.
                  %br.xs-hide/
                  Итерации крупного проекта можно оплачивать последовательно.
            .icon-col__item.complex-pluses__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "300ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/pluses/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/pluses/3_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/pluses/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Выстроенные внутренние процессы
                .icon-col__caption.caption.caption_size_s
                  Мы используем версионирование (gitlab),
                  %nobr test-driven-development
                  (PHPUnit) и покрытие пользовательскими тестами,
                  %br.xs-hide/
                  а также Continuous Integration.
            .icon-col__item.complex-pluses__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "300ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/pluses/4.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/pluses/4_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/pluses/4_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  %nobr Digital-трансформация
                .icon-col__caption.caption.caption_size_s
                  Мы накопили большой позитивный опыт в соединении
                  %nobr веб-технологий
                  и офлайновых процессов в единую экосистему бизнеса.
            .icon-col__item.complex-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "600ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/pluses/5.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/pluses/5_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/pluses/5_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Высоконагруженные системы
                .icon-col__caption.caption.caption_size_s
                  Средний объем баз данных, с которыми мы работаем — 1 триллион строчек кода.
            .icon-col__item.complex-pluses__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "complex", :src => "img/services/complex/pluses/6.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "complex", :src => "img/services/complex/pluses/6_1.svg"}/
                %img.icon-col__bg{:alt => "complex", :src => "img/services/complex/pluses/6_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Квалификация
                .icon-col__caption.caption.caption_size_s
                  Наши разработчики прошли в общей сложности более 1000
                  %nobr человеко-часов
                  обучения на профильных образовательных курсах.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_large.section_green_light.complex-scheme
    .section__wrp.complex-scheme__wrp
      .section__header.section__header_compensate.complex-scheme__header
        %h2.section__heading.complex-scheme__heading.heading.heading_type_h2
          %span.section__heading-text
            Как мы делаем проекты?
      .section__body.complex-scheme__body
        .complex-scheme__line-row.line-row
          .line-row__list.js-animation.js-animation_mobile.js-animation_tablet{"data-animation-delay" => "400ms"}
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__title.heading.heading_type_h5-s
                  Собираем требования
                .line-row__caption.caption.caption_size_g
                  Изучаем особенности вашего бизнеса, определяем задачи и цели будущего продукта, создаем стратегию реализации проекта.
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__title.heading.heading_type_h5-s
                  Пишем ТЗ
                .line-row__caption.caption.caption_size_g
                  Техническое задание — основной формат проектной документации, который содержит все требования к функционалу и интерфейсу проекта. Именно по нему будет вестись вся дальнейшая разработка.
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__title.heading.heading_type_h5-s
                  Создаем прототип
                .line-row__caption.caption.caption_size_g
                  На этапе проектирования мы продумываем функционал и структуру сайта. Его результатом становится прототип — макет со схемой расположения всех модулей будущего продукта.
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__title.heading.heading_type_h5-s
                  Создаем дизайн
                .line-row__caption.caption.caption_size_g
                  После утверждения прототипа заказчиком мы создаем графическую оболочку продукта. Для этого дизайнер воплощает продуманные с клиентом и командой проекта смыслы и месседжи в 
                  %nobr> дизайн-концепцию
                  \.
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__title.heading.heading_type_h5-s
                  Программируем
                .line-row__caption.caption.caption_size_g
                  Создание внутреннего кода проекта обеспечивает работу всего задуманного функционала проекта и его корректное отображение на различных устройствах.
      .section__footer.complex-scheme__footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
        .complex-scheme__caption
          Стоимость
          %span
            от 750 000
            %span.rub P
        .complex-scheme__caption
          Срок
          %span от 3 месяцев
  %section.section.section_pad_large.complex-mvp
    .section__wrp.complex-mvp__wrp.scene
      .section__header.section__header_compensate.complex-mvp__header
        %h2.section__heading.complex-mvp__heading.heading.heading_type_h2
          %span.section__heading-text MVP
      .section__body.complex-mvp__body
        .complex-mvp__caption.caption.caption_size_g
          К нам часто обращаются стартапы. Специально для таких клиентов мы предлагаем
          = succeed "\u{a0}\u{2014}" do
            %span MVP (minimum viable product)
        .complex-mvp__img
          .complex-mvp__img-wrp
            %img.complex-mvp__img-bg.layer{:alt => "complex", "data-depth" => "0.40", :src => "img/services/complex/mvp/bg.svg"}/
            %img.complex-mvp__img-icon2.layer{:alt => "complex", "data-depth" => "0.60", :src => "img/services/complex/mvp/icon2.svg"}/
            %img.complex-mvp__img-icon.layer{:alt => "complex", "data-depth" => "0.80", :src => "img/services/complex/mvp/icon.svg"}/
        .complex-mvp__title.heading.heading_type_h5-s
          MVP — возможность для стартапа
        .complex-mvp__check-list.check-list
          %ul.check-list__list
            %li.check-list__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .check-list__caption
                Сэкономить деньги, не вкладывая их в провальный проект.
            %li.check-list__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "100ms"}
              .check-list__caption
                Проверить, интересует ли ваш продукт потенциальных пользователей и готовы ли они за него платить.
            %li.check-list__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .check-list__caption
                Интерфейсы для управления программами лояльности и оперативного общения с партнерами.
            %li.check-list__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "300ms"}
              .check-list__caption
                Собрать базу потенциальных клиентов и найти ранних приверженцев (early adopters) своего продукта.
      .section__footer.complex-mvp__footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
        .complex-mvp__footer-caption
          Стоимость
          %span
            от 150 000
            %span.rub P
        .complex-mvp__footer-caption
          Срок
          %span от 2 недель
  %section.section.green-banner.green-banner_complex
    %span.green-banner__bg{:style => "background-image: url(img/services/complex/green.jpg);"}
    .section__wrp.green-banner__wrp
      %h2.green-banner__heading.section__heading.heading.heading_type_h2
        %span.section__heading-text
          Наш стэк технологий
      .green-banner__btn-list
        .green-banner__btn-item PHP
        .green-banner__btn-item 1C Bitrix
        .green-banner__btn-item JS
        .green-banner__btn-item MySQL
        .green-banner__btn-item PHPUnit
        .green-banner__btn-item Ruby
        .green-banner__btn-item Ruby on Rails
        .green-banner__btn-item PostgreSQL
        .green-banner__btn-item AngularJS
        .green-banner__btn-item Heroku
        .green-banner__btn-item Docker
        .green-banner__btn-item Capistrano
        .green-banner__btn-item RSpec
      .green-banner__buttons
        %a.green-banner__button.button.button_theme_accent.button_size_l.js-popup{:href => "javascript:void(0);"}
          Обсудим проект?
