%main.main
  %section.section.section_first.banner.banner_content_center
    %span.banner__bg{:style => "background-image: url(img/services/firm-style/banner.jpg);"}
    .section__wrp.banner__wrp
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          Фирменный стиль
        .banner__line
          %svg{:viewbox => "0 0 47 4", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          Создадим или «перезапустим»
          %br/
          визуальный образ вашей компании
  %section.section.firm-promo
    .section__wrp.firm-promo__wrp
      .section__header.firm-promo__header
        %h2.section__heading.heading.heading_type_h4.firm-promo__heading
          Наличие фирменного стиля делает компанию более узнаваемой и конкурентоспособной, повышая стоимость бренда.
      .section__body.firm-promo__body
        .firm-promo__icon-row.icon-row
          .icon-row__list
            .icon-row__item.firm-promo__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "firm-style", :src => "img/services/firm-style/promo/1.svg"}/
                %img.icon-row__bg{:alt => "firm-style", :src => "img/services/firm-style/promo/1_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  У компании появляется система «опознавательных» знаков,
                  = succeed "\u{43a}\u{43e}\u{442}\u{43e}\u{440}\u{430}\u{44f}" do
                    %br.md-hide/
            .icon-row__item.firm-promo__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "firm-style", :src => "img/services/firm-style/promo/2.svg"}/
                %img.icon-row__bg{:alt => "firm-style", :src => "img/services/firm-style/promo/2_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Сокращаются трудозатраты на вывод на рынок нового продукта.
            .icon-row__item.firm-promo__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "firm-style", :src => "img/services/firm-style/promo/3.svg"}/
                %img.icon-row__bg{:alt => "firm-style", :src => "img/services/firm-style/promo/3_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Реклама становится эффективнее, потому что каждая новая идея связывается в сознании потребителя с уже существующим образным рядом.
  %section.section.section_pad_large.section_green_light.firm-logo
    .section__wrp.firm-logo__wrp
      .section__header.section__header_compensate.firm-logo__header
        %h2.section__heading.heading.heading_type_h2
          %span.section__heading-text
            Логотип
        .section__caption.caption.caption_size_l
          Максимально емко транслирует ценности
          %br.xs-hide/
          и преимущества вашего бренда аудитории.
      .section__body.firm-logo__body
        .firm-logo__path-block.path-block
          .path-block__wrp
            .path-block__header
              .path-block__heading
                %span.path-block__heading-text
                  5 шагов для создания логотипа
            .path-block__body
              %ol.path-block__list.js-animation.js-animation_mobile.js-animation_tablet{"data-animation-delay" => "400ms"}
                %li.path-block__item
                  .path-block__caption
                    Анализируем рынок и конкурентную среду, чтобы создать прочный фундамент для всего фирменного стиля — правильное позиционирование.
                %li.path-block__item
                  .path-block__caption
                    Изучаем целевую аудиторию, ее инсайты и ценности, чтобы понять, какие потребности на этом рынке может «закрыть» компания
                %li.path-block__item
                  .path-block__caption
                    Определяем концепцию развития бренда. Это позволяет найти свое «лицо», определить ценностное и эмоциональное содержание продукта.
                %li.path-block__item
                  .path-block__caption
                    Опираясь на позиционирование бренда, разрабатываем 3 варианта логотипа
                %li.path-block__item
                  .path-block__caption
                    Дорабатываем выбранный вариант и создаем логобук — руководство по использованию логотипа.
              .path-block__caption
                Визуальная простота и точное соответствие позиционированию бренда — главный секрет хорошего логотипа.
            .path-block__footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .path-block__heading
                %span.path-block__heading-text
                  Результат
              .path-block__caption
                Логотип в форматах *.jpg, *.png, *pdf, *.eps, *.ai, в цветном,
                %nobr черно-белом
                и штриховом исполнении
  %section.section.section_pad_large.firm-graph
    .section__wrp.firm-graph__wrp.scene
      .section__header.section__header_compensate.firm-graph__header
        %h2.section__heading.heading.heading_type_h2.firm-graph__heading
          %span.section__heading-text Фирменная графика
      .section__body.firm-graph__body
        .firm-graph__img
          .firm-graph__img-wrp
            %img.firm-graph__img-bg.layer{:alt => "firm-style", "data-depth" => "0.40", :src => "img/services/firm-style/graph/bg.svg"}/
            %img.firm-graph__img-icon2.layer{:alt => "firm-style", "data-depth" => "0.60", :src => "img/services/firm-style/graph/icon2.svg"}/
            %img.firm-graph__img-icon.layer{:alt => "firm-style", "data-depth" => "0.80", :src => "img/services/firm-style/graph/icon.svg"}/
        .firm-graph__caption.caption.caption_size_l.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
          Мощный узнаваемый визуальный образ для любой коммуникации
          с целевой аудиторией.
  %section.section.section_green_light.firm-card
    .section__wrp.firm-card__wrp
      .section__header.section__header_compensate.firm-card__header
        %h2.section__heading.firm-card__heading.heading.heading_type_h2
          %span.section__heading-text
            Визитки
        .section__caption.caption.caption_size_l.js-animation.js-animation_fadeInDown{"data-animation-delay" => "0"}
          Визитка —
          = succeed "," do
            %nobr бизнес-аксессуар
      .section__body.firm-card__body
        .firm-card__icon-col.icon-col.icon-col_large.js-slider-icon-col
          .icon-col__heading.heading.heading_type_h4
            3 принципа хорошей визитки
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.firm-card__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "firm-style", :src => "img/services/firm-style/card/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "firm-style", :src => "img/services/firm-style/card/1_1.svg"}/
                %img.icon-col__bg{:alt => "firm-style", :src => "img/services/firm-style/card/1_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Продуманный дизайн в соответствии с фирменным стилем
            .icon-col__item.firm-card__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "firm-style", :src => "img/services/firm-style/card/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "firm-style", :src => "img/services/firm-style/card/2_1.svg"}/
                %img.icon-col__bg{:alt => "firm-style", :src => "img/services/firm-style/card/2_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Профессиональная верстка
                  = succeed "\u{43f}\u{43e}\u{a0}\u{432}\u{441}\u{435}\u{43c}" do
                    %br.xs-hide/
            .icon-col__item.firm-card__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "600ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "firm-style", :src => "img/services/firm-style/card/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "firm-style", :src => "img/services/firm-style/card/3_1.svg"}/
                %img.icon-col__bg{:alt => "firm-style", :src => "img/services/firm-style/card/3_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Правильный подбор материалов и высокое качество печати
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_large.firm-book
    .section__wrp.firm-book__wrp.scene
      .section__header.section__header_compensate.firm-book__header
        %h2.section__heading.firm-book__heading.heading.heading_type_h2
          %span.section__heading-text Брендбук
        .section__caption.caption.caption_size_l.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
          Свод правил по использованию логотипа и других элементов фирменного стиля.
      .section__body.firm-book__body
        .firm-book__img
          .firm-book__img-wrp
            %img.firm-book__img-bg.layer{:alt => "firm-style", "data-depth" => "0.40", :src => "img/services/firm-style/book/bg.svg"}/
            %img.firm-book__img-icon2.layer{:alt => "firm-style", "data-depth" => "0.60", :src => "img/services/firm-style/book/icon2.svg"}/
            %img.firm-book__img-icon.layer{:alt => "firm-style", "data-depth" => "0.80", :src => "img/services/firm-style/book/icon.svg"}/
        .firm-book__caption
          Этот документ позволит сохранять соответствие высоким стандартам визуального образа бренда при работе с любыми подрядчиками, рекламными агентствами и СМИ.
      .section__footer.firm-book__footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
        .firm-book__subhead
          %span.firm-book__subhead-text
            Результат
        .firm-book__caption
          Документ в формате *.pdf. По требованию изготовим его в печатном виде.
  %section.section.section_pad_large.section_green_light.firm-pluses
    .section__wrp.firm-pluses__wrp
      .section__header.section__header_compensate.firm-pluses__header
        %h2.section__heading.firm-pluses__heading.heading.heading_type_h2
          %span.section__heading-text
            Наши преимущества
      .section__body.firm-pluses__body
        .firm-pluses__check-list.check-list
          %ul.check-list__list
            %li.check-list__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "0"}
              .check-list__caption
                В основе нашей работы лежит позиционирование бренда — только так можно создать
                %nobr по-настоящему
                эффективный фирменный стиль.
            %li.check-list__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "200ms"}
              .check-list__caption
                Наши
                %nobr дизайн-решения
                всегда уникальны, включая шрифты, которые полностью гармонируют с логотипом и другими элементами фирменной графики.
            %li.check-list__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "400ms"}
              .check-list__caption
                Мы создаем практичные решения, тестируя использование фирменного стиля на всех его носителях
  %section.section.green-banner.green-banner_firm-style
    %span.green-banner__bg{:style => "background-image: url(img/services/firm-style/green.jpg);"}
    .section__wrp.green-banner__wrp
      %h2.green-banner__heading.section__heading.heading.heading_type_h2
        %span.section__heading-text
          Готовитесь к прорыву
          = succeed "\u{43d}\u{430}\u{a0}\u{440}\u{44b}\u{43d}\u{43a}\u{435}?" do
            %br.sm-show/
      .green-banner__buttons
        %a.green-banner__button.button.button_theme_accent.button_size_l.js-popup{:href => "javascript:void(0);"}
          Напишите нам
