          <section class="g-section g-main">
              <div class="g-wrapper">
                  <h2 class="g-main__top">Интернет-агентство</h2>
                  <h1 class="g-main__title">Я<i class="g-main__title-point"></i>CREATIONS</h1>
                  <h3 class="g-main__subtitle">Вся разработка в одном месте</h3>
              </div>
              <div class="g-scroller"></div>
              <div class="g-video-wrapper" id="video-wrapper">
              </div>
          </section>
      
          <section class="g-section g-section_what">
              <div class="g-wrapper js-slider-other-col">
                  <h2 class="g-title"><span class="g-title__text">Чем мы занимаемся</span></h2>
                  <h3 class="g-subtitle">Создаём проекты, <br class="g-mobile">которые помогают вам</h3>
                  <ul class="g-what-list" id="what-slider">
                      <li class="g-what-list__item g-what-list__item_shops js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_shops tilter__figure" src="img/projects/what_1.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_1.svg">
                          </div>
                          <h3 class="g-what-list__name">Интернет-магазины</h3>
                          <p class="g-what-list__desc">Помогаем продавать ваши товары. В&nbsp;нашем портфолио уже несколько десятков успешных историй.</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_complex js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_solutions tilter__figure" src="img/projects/what_2.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_2.svg">
                          </div>
                          <h3 class="g-what-list__name">Сложные решения</h3>
                          <p class="g-what-list__desc">Затачиваем под ваш бизнес CRM, ERP, системы отчетности и&nbsp;другие продукты. Чем сложнее, тем интереснее.</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_support js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_support tilter__figure" src="img/projects/what_3.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_3.svg">
                          </div>
                          <h3 class="g-what-list__name">Поддержка и развитие</h3>
                          <p class="g-what-list__desc">Мы&nbsp;любим долгосрочные отношения и&nbsp;после запуска помогаем вашему продукту эволюционировать и&nbsp;идти в&nbsp;ногу с&nbsp;технологиями.</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_mobile js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_mobile tilter__figure" src="img/projects/what_4.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_4.svg">
                          </div>
                          <h3 class="g-what-list__name">Мобильные приложения</h3>
                          <p class="g-what-list__desc">Для сайта на&nbsp;1С-Битрикс сделаем мобильное приложение по&nbsp;ошеломляющей цене. Мы&nbsp;даже выступаем с&nbsp;докладами об&nbsp;этом.</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_corp js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_corp tilter__figure" src="img/projects/what_5.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_5.svg">
                          </div>
                          <h3 class="g-what-list__name">Корпоративные сайты</h3>
                          <p class="g-what-list__desc">Мы&nbsp;любим долгосрочные отношения, ежедневная поддержка и&nbsp;развитие проекта также важны, каки сама разработка.</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_calling js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_clients tilter__figure" src="img/projects/what_6.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_6.svg">
                          </div>
                          <h3 class="g-what-list__name">Привлечение клиентов</h3>
                          <p class="g-what-list__desc">Собираем лиды, работаем с узнаваемостью бренда и лояльностью клиента: ведем социальные сети, настраиваем контекстную и&nbsp;медийную рекламу.</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_style js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_style tilter__figure" src="img/projects/what_7.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_7.svg">
                          </div>
                          <h3 class="g-what-list__name">Фирменный стиль</h3>
                          <p class="g-what-list__desc">Помогаем продавать ваши товары. Несколько десятков успешных историй развития говорят за&nbsp;себя. Попробуйте!</p>
                      </li>
                      <li class="g-what-list__item g-what-list__item_bitrix js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_brainfuck tilter__figure" src="img/projects/what_8.svg">
                              <img class="g-img-wrapper__bg" src="img/projects/what_bg_8.svg">
                          </div>
                          <h3 class="g-what-list__name">Битрикс24</h3>
                          <p class="g-what-list__desc">Настраиваем и&nbsp;&laquo;допиливаем&raquo; систему под ваш бизнес, интегрируем с&nbsp;вашими внутренними процессами и&nbsp;оказываем оперативную поддержку по&nbsp;всем вопросам.</p>
                      </li>
                  </ul>
    
                <div class="other-col__dots js-slider-other-col-dots"></div>
              </div>
          </section>
      
          <section class="g-section g-section_how">
              <div class="g-wrapper">
                  <h2 class="g-title"><span class="g-title__text">Как мы работаем?</span></h2>
                  <h3 class="g-subtitle">В нашем арсенале — два подхода к разработке продуктов:</h3>
                  <div class="g-approach-list">
                      <div class="g-approach-list__item">
                          <h3 class="g-approach-list__title">«Водопад», каскадная&nbsp;модель</h3>
                          <p class="g-approach-list__desc">Используем в случае, когда у вас есть понимание, как должен выглядеть готовый  продукт и, возможно, даже ТЗ. Бюджет и сроки при таком подходе — фиксированные, а значит, внесение изменений по ходу проекта невозможно.</p>
                          <div class="g-approach-list__wrapper-waterfall">
                              <ol class="g-approach-list__steps g-approach-list__steps_waterfall js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          1
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg" x="0" y="0" width="42" height="42"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Формулируем требования<br>к конечному продукту.</span>
                                  </li>
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          2
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Пишем детальное ТЗ<br>(на основе вашего или с нуля).</span>
                                  </li>
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          3
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Строим график работ.</span>
                                  </li>
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          4
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Работаем по нему.</span>
                                  </li>
                              </ol>
                          </div>
                          <p class="g-approach-list__desc g-approach-list__desc_waterfall">Вы получаете готовый продукт в установленный срок.</p>
                      </div>
                      <div class="g-approach-list__item">
                          <h3 class="g-approach-list__title">Agile, гибкий подход</h3>
                          <p class="g-approach-list__desc">
                              Мы строим работу по этой модели, если у вас есть идея, но нет понимания, в каком направлении двигаться для начала ее реализации, и вообще, с чего начать.
                          </p>
                          <p class="g-approach-list__desc">
                              Поэтому мы итеративно, по шагам разрабатываем веб- продукт. Подход подразумевает возможность пересмотра функционала «на лету». Поэтому, бюджет при таком подходе гибкий, также как и сроки реализации.
                          </p>
                          <div class="g-approach-list__wrapper-agile">
                              <ol class="g-approach-list__steps g-approach-list__steps_agile js-animation js-animation_mobile js-animation_tablet" data-animation-delay="600ms">
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          1
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Описываем минимальные требования<br>к готовому продукту.</span>
                                  </li>
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          2
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Создаем прототип.</span>
                                  </li>
                                  <li class="g-approach-list__step">
                                      <span class="g-approach-list__counter">
                                          3
                                          <svg class="g-approach-list__counter-bg">
                                              <use xlink:href="#ic-counter-bg"></use>
                                          </svg>
                                      </span>
                                      <span class="g-approach-list__text">Работаем итерациями, <br class="g-mobile">демонстрируем <br class="g-mobile-hide">результат <br class="g-mobile">каждые 2 недели.</span>
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      
          <section class="g-section g-section_why">
              <div class="g-wrapper js-slider-other-col">
                  <h2 class="g-title"><span class="g-title__text">Так почему мы?</span></h2>
                  <ul class="g-why-list" id="why-slider">
                      <li class="g-why-list__item g-why-list__item_projects js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_top tilter__figure" src="img/why/why_1.svg">
                              <img class="g-img-wrapper__bg" src="img/why/why_bg_1.svg">
                          </div>
                          <p class="g-why-list__desc">3 проекта мирового класса, которыми гордился&nbsp;бы любой инвестор.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_million js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_records tilter__figure" src="img/why/why_2.svg">
                              <img class="g-img-wrapper__bg" src="img/why/why_bg_2.svg">
                          </div>
                          <p class="g-why-list__desc">Миллион в&nbsp;квадрате&nbsp;&mdash; количество записей в&nbsp;базах данных наших клиентов. Мы&nbsp;умеем работать с&nbsp;настолько большими цифрами.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_web js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_web tilter__figure" src="img/why/why_3.svg">
                              <img class="g-img-wrapper__bg" src="img/why/why_bg_3.svg">
                          </div>
                          <p class="g-why-list__desc">Мы&nbsp;умеем скрещивать <nobr>веб-технологии</nobr> с&nbsp;офлайном и&nbsp;наоборот.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_employees js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_exp tilter__figure" src="img/why/why_4.svg">
                              <img class="g-img-wrapper__bg" src="img/why/why_bg_4.svg">
                          </div>
                          <p class="g-why-list__desc">Наши сотрудники прошли в&nbsp;общей сложности более 1000 человекочасов обучения в&nbsp;ведущих образовательных проектах в&nbsp;сфере дизайна, разработки и&nbsp;программинга.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_mobile js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_mobile-dev tilter__figure" src="img/why/why_5.svg">
                              <img class="g-img-wrapper__bg" src="img/why/why_bg_5.svg">
                          </div>
                          <p class="g-why-list__desc">Наши компетенции в&nbsp;мобильной разработке говорят за&nbsp;себя, нас регулярно приглашают для выступлений на&nbsp;семинарах и&nbsp;вебинарах.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_tests js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_tech tilter__figure" src="img/why/why_6.svg">
                              <img class="g-img-wrapper__bg" src="img/why/why_bg_6.svg">
                          </div>
                          <p class="g-why-list__desc">Версионирование (gitlab), <nobr>test-driven-development</nobr> (phpunit) и&nbsp;покрытие пользовательскими тестами, а&nbsp;также Continuous Integration&nbsp;&mdash; это все про нас.</p>
                      </li>
                  </ul>
    
                <div class="other-col__dots js-slider-other-col-dots"></div>
              </div>
          </section>
      
          <section class="g-section g-section_best">
              <div class="g-wrapper">
                  <h2 class="g-title"><span class="g-title__text">лучшие кейсы</span></h2>
                  <h3 class="g-subtitle g-subtitle_small">Вы только посмотрите, что вытворяют!</h3>
                  <div class="g-best-wrapper">
                      <!--<ul class="g-best" id="cases-slider">-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                          <!--<li class="g-best__item">-->
                              <!--<div class="g-best__banner"></div>-->
                              <!--<a href="http://yadadya.com" target="_blank" class="g-best__desc">Увеличили конверсию в X раз</a>-->
                          <!--</li>-->
                      <!--</ul>-->
                    <a class="g-btn g-btn_download" download="Presentation-Y-Creations-WEB+SMM+PR&amp;Marketing.pdf" href="/Presentation-Y-Creations-WEB+SMM+PR&amp;Marketing.pdf" target="_blank">
                      Скачать презентацию
                      <svg class="g-btn-icon g-btn-icon_download">
                          <use xlink:href="#ic-btn-download"></use>
                         </svg>
                    </a>
                  </div>
              </div>
          </section>
      
          <section class="g-section g-areas">
              <div class="g-wrapper">
                  <div class="g-areas__left">
                      <div class="js-tilter">
                          <img src="img/efficiency.svg" class="g-areas__img tilter__figure">
                      </div>
                      <img src="img/efficiency_bg.svg" class="g-areas__img-bg">
                  </div>
                  <div class="g-areas__right">
                      <h2 class="g-areas__title">Увеличиваем эффективность бизнеса </h2>
                      <p class="g-areas__text">Особенность нашего подхода заключается в степени погружения в проект клиента. Мы смотрим на любой продукт глазами бизнеса, тщательно изучаем, что происходит «внутри» и анализируем все процессы компании. А затем предлагаем и внедряем решения по их автоматизации. Такие решения позволяют, например, сократить расходы на персонал, уменьшить время производственного цикла и в конечном итоге влияют на рентабельность бизнеса клиента.</p>
                      <p class="g-areas__list-title">В каких областях мы можем вам помочь:</p>
                      <ul class="g-areas__list">
                          <li class="g-areas__item">Сложные решения</li>
                          <li class="g-areas__item">Интернет-магазины</li>
                          <li class="g-areas__item">Поддержка и развитие</li>
                          <li class="g-areas__item">Привлечение клиентов</li>
                          <li class="g-areas__item">Мобильные приложения</li>
                          <li class="g-areas__item">Фирменный стиль</li>
                          <li class="g-areas__item">Корпоративные сайты</li>
                          <li class="g-areas__item">Битрикс24</li>
                      </ul>
                  </div>
              </div>
          </section>
      
          <section class="g-section g-offer">
              <div class="g-wrapper">
                  <h2 class="g-title g-title_white"><span class="g-title__text">Давайте сделаем <br class="g-mobile">вам проект</span></h2>
                  <p class="g-subtitle g-subtitle_white g-subtitle_small">Осторожно! При создании используются секретные ингредиенты:<br>любовь к работе, знание дела и погружение в проблемы клиента.</p>
                  <a href="javascript:void(0)" class="g-btn js-popup">Обсудить проект</a>
              </div>
          </section>