%main.main
  %section.section.section_first.banner.banner_support.banner_content_center
    %span.banner__bg{:style => "background-image: url(img/services/support/banner.jpg);"}
    .section__wrp.banner__wrp
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          Поддержка и развитие
        .banner__line
          %svg{:viewbox => "0 0 47 4", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          Запуск сайта или мобильного приложения — только первый шаг на пути к успеху.
          Чтобы ваш проект начал приносить стабильную прибыль,
          %br.sm-hide/
          его необходимо поддерживать и развивать.
  %section.section.section_pad_general.section_green_light.tagline
    .section__wrp.tagline__wrp
      .section__body.tagline__body
        .tagline__caption.caption.caption_size_l
          Если этого не делать, через некоторое время он безнадежно устареет,
          так и не окупив вложений в его разработку.
  %section.section.support-promo
    .section__wrp.support-promo__wrp
      .section__header.support-promo__header
        %h2.section__heading.heading.heading_type_h4.support-promo__heading
          Что дает поддержка и развитие?
      .section__body.support-promo__body
        .support-promo__icon-row.icon-row
          .icon-row__list
            .icon-row__item.support-promo__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "support", :src => "img/services/support/promo/1.svg"}/
                %img.icon-row__bg{:alt => "support", :src => "img/services/support/promo/1_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Проект всегда будет приносить прибыль за счет соответствия текущим
                  %nobr бизнес-задачам
                  компании.
            .icon-row__item.support-promo__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "support", :src => "img/services/support/promo/2.svg"}/
                %img.icon-row__bg{:alt => "support", :src => "img/services/support/promo/2_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  Проект будет конкурентоспособным. Мы постоянно отслеживаем тренды и технологии и предлагаем улучшения, чтобы помочь вам сохранить лидерские позиции.
            .icon-row__item.support-promo__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
              .icon-row__img-wrp.js-tilter
                %img.icon-row__img.tilter__figure{:alt => "support", :src => "img/services/support/promo/3.svg"}/
                %img.icon-row__bg{:alt => "support", :src => "img/services/support/promo/3_bg.svg"}/
              .icon-row__text
                .icon-row__caption.caption.caption_size_g
                  «Живые» сайты вызывают больше доверия у аудитории, свидетельствуя о том, что ваша компания — ответственный и энергичный игрок рынка, разбирающийся в технологиях.
  %section.section.section_pad_large.section_green_light.support-doing
    .section__wrp.support-doing__wrp
      .section__header.section__header_compensate.support-doing__header
        %h2.section__heading.support-doing__heading.heading.heading_type_h2
          %span.section__heading-text
            Что мы делаем?
      .section__body.support-doing__body
        .support-doing__icon-col.icon-col.icon-col_large.icon-col_align-left.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.support-doing__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/doing/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/doing/1_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/doing/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Повышаем конверсию сайта
                .icon-col__caption.caption.caption_size_g
                  Увеличиваем количество заявок с сайта и уменьшаем их стоимость с помощью комплексной «терапии»: SEO, SMM, подбор оптимальных рекламных каналов
                  %nobr и т. д.
            .icon-col__item.support-doing__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/doing/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/doing/2_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/doing/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Дорабатываем функционал
                .icon-col__caption.caption.caption_size_g
                  Создаем новые инструменты и сервисы на сайте для новых
                  %nobr бизнес-задач
                  компании и улучшения коммуникации с аудиторией проекта.
            .icon-col__item.support-doing__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/doing/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/doing/3_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/doing/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Дорабатываем структуру и дизайн
                .icon-col__caption.caption.caption_size_g
                  Рисуем и верстаем новые страницы, разрабатываем баннеры, кнопки, иконки, шрифты, иллюстрации — проводим любые графические работы вплоть до редизайна.
            .icon-col__item.support-doing__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/doing/4.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/doing/4_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/doing/4_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Решаем все технические вопросы
                .icon-col__caption.caption.caption_size_g
                  Обеспечиваем стабильную работу сайта без сбоев, дорабатываем для улучшения индексации в поисковиках, взаимодействуем с хостингом и многое другое.
            .icon-col__item.support-doing__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/doing/5.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/doing/5_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/doing/5_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Наполняем контентом
                .icon-col__caption.caption.caption_size_g
                  Пишем полезные уникальные материалы (новости, статьи, имиджевые тексты, описания товаров). Загружаем фото- и 
                  %nobr> видео-материалы
                  , документы.
            .icon-col__item.support-doing__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/doing/6.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/doing/6_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/doing/6_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Обучаем ваших сотрудников
                .icon-col__caption.caption.caption_size_g
                  Если в работе сайта появится
                  %nobr что-то
                  новое, поможем вашим специалистам разобраться в новых функциях, а также настроим систему под их потребности.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_x-large.support-pluses
    .section__wrp.support-pluses__wrp
      .section__header.section__header_compensate.support-pluses__header
        %h2.section__heading.support-pluses__heading.heading.heading_type_h2
          %span.section__heading-text
            Наши преимущества
      .section__body.support-pluses__body
        .support-pluses__icon-col.icon-col.icon-col_large.icon-col_border.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.support-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/pluses/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/pluses/1_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/pluses/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Качество
                .icon-col__caption.caption.caption_size_g
                  Мы работаем на результат.
                  %br/
                  Лучший показатель качества нашей работы — рост показателей сайта.
            .icon-col__item.support-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/pluses/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/pluses/2_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/pluses/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Скорость
                .icon-col__caption.caption.caption_size_g
                  Мы планируем свою работу, устанавливаем разумные сроки
                  %br.sm-hide/
                  и потому всегда их выдерживаем.
            .icon-col__item.support-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "support", :src => "img/services/support/pluses/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "support", :src => "img/services/support/pluses/3_1.svg"}/
                %img.icon-col__bg{:alt => "support", :src => "img/services/support/pluses/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Прозрачность
                .icon-col__caption.caption.caption_size_g
                  Клиент всегда знает, за что платит: мы ежемесячно предоставляем подробные отчеты о проделанной работе.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_large.section_green_light.support-scheme
    .section__wrp.support-scheme__wrp
      .section__header.section__header_compensate.support-scheme__header
        %h2.section__heading.support-scheme__heading.heading.heading_type_h2
          %span.section__heading-text
            Схема нашей работы
      .section__body.support-scheme__body
        .support-scheme__line-row.line-row
          .line-row__list.js-animation.js-animation_mobile.js-animation_tablet{"data-animation-delay" => "400ms"}
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__caption.caption.caption_size_g
                  Анализируем задачу. Если проект разработан сторонним разработчиком, тщательно изучаем материал (код, дизайн, контент сайта).
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__caption.caption.caption_size_g
                  Оцениваем время специалистов, планируем сроки и устанавливаем ежемесячный бюджет работ. Фиксируем задачу через систему управления проектом Zendesk. Если требуется комплексное решение, вырабатываем стратегию его внедрения на 3–6 месяцев вперед.
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__caption.caption.caption_size_g
                  Выполняем запланированные работы, тестируем и запускаем на «боевом» домене после проверки на внутреннем.
            .line-row__item
              %span.line-row__dot
              .line-row__text
                .line-row__caption.caption.caption_size_g
                  Составляем отчет, где указываем список работ за месяц и потраченные часы специалистов.
  %section.section.section_pad_large.support-rate
    .section__wrp.support-rate__wrp
      .section__header.section__header_compensate.support-rate__header
        %h2.section__heading.support-rate__heading.heading.heading_type_h2
          %span.section__heading-text
            Наши тарифы
      .section__body.support-rate__body
        .support-rate__rate-col.rate-col
          .rate-col__list
            .rate-col__item.rate-col__item_min.js-animation.js-animation_bounceIn{"data-animation-delay" => "0"}
              .rate-col__head
                .rate-col__title.heading.heading_type_h5-s
                  «Минимальный пакет»
              .rate-col__body
                .rate-col__price
                  30 000 
                  %span.rub Р
                .rate-col__caption.caption.caption_size_g
                  20 часов в месяц
            .rate-col__item.js-animation.js-animation_bounceIn{"data-animation-delay" => "400ms"}
              .rate-col__head
                .rate-col__title.heading.heading_type_h5-s
                  «Стабильное развитие»
              .rate-col__body
                .rate-col__price
                  90 000 
                  %span.rub Р
                .rate-col__caption.caption.caption_size_g
                  60 часов в месяц
            .rate-col__item.js-animation.js-animation_bounceIn{"data-animation-delay" => "800ms"}
              .rate-col__head
                .rate-col__title.heading.heading_type_h5-s
                  «Быстрая помощь»
              .rate-col__body
                .rate-col__price
                  1 500 
                  %span.rub Р
                .rate-col__caption.caption.caption_size_g
                  час
  %section.section.green-banner.green-banner_support
    %span.green-banner__bg{:style => "background-image: url(img/services/support/green.jpg);"}
    .section__wrp.green-banner__wrp
      %h2.green-banner__heading.section__heading.heading.heading_type_h2
        %span.section__heading-text
          Обсудим проект?
      .green-banner__buttons
        %a.green-banner__button.button.button_theme_accent.button_size_l.js-popup{:href => "javascript:void(0);"}
          Напишите нам
