@-webkit-keyframes bugfix {
    from {
        p /**/ adding: 0
    }
    to {
        padding: 0
    }
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-animation: bugfix infinite 1s;
    font-size: 16px;
}

html, body, div, span, cite, code, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, sub, sup, b, i, a, ol, ul, li, footer, fieldset, form, label, legend, table, caption, tr, th, td, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font: inherit;
    vertical-align: baseline;
    background: transparent
}

b {
    font-weight: bold
}

i {
    font-weight: italic
}

input, textarea, select {
    font: inherit;
    font-size: 100%;
    margin: 0;
    line-height: normal
}

input, select {
    vertical-align: middle
}

input::-moz-focus-inner, select::-moz-focus-inner {
    padding: 0;
    border: 0
}

input[type="search"] {
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

audio, video {
    display: inline-block
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 1px solid #ccc;
    margin: 1em 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

:focus {
    outline: 0
}

::-webkit-input-placeholder {
    opacity: 1 !important
}

:-moz-placeholder {
    opacity: 1 !important
}

::-moz-placeholder {
    opacity: 1 !important
}

:-ms-input-placeholder {
    opacity: 1 !important
}

::-webkit-input-placeholder {
    color: #bababa !important
}

:-moz-placeholder {
    color: #bababa !important
}

::-moz-placeholder {
    color: #bababa !important
}

:-ms-input-placeholder {
    color: #bababa !important
}

body {
    background: #0c5110;
    font-family: 'Proxima', Tahoma;
    font-size: 14px;
    line-height: 18px;
    min-width: 1000px;
    color: #000
}

body #body-wrap {
    position: relative
}

ul {
    list-style: none
}

h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px
}

p {
    margin-bottom: 1em
}

a {
    color: #000
}

a:hover {
    color: #66a575
}

i {
    font-style: italic
}

.menu-top:after, .bottom-line:after, .bottom-line2:after, .currency-nav:after, .currency-big-container:after, .currency-featured-info:after, .currency-tabs:after, .currency-block-body:after, .coin-block-body:after, .currency-param-line:after, .featured-param-line:after, .img-inner-container:after, .common-info-text:after, .common-signs-text:after, .common-signs-right:after, .coin-props:after, .coin-block-cont:after, .falsif-signs:after, .osob-toleft-inner:after {
    display: table;
    content: " ";
    clear: both
}

.wrap:after {
    display: table;
    content: " ";
    clear: both
}

.mainpage-header {
    height: 790px;
    background-image: 8121991;
    background-image: -webkit-radial-gradient(center, #66a575 0, #0c5110 100%);
    background-image: -moz-radial-gradient(center, #66a575 0, #0c5110 100%);
    background-image: -o-radial-gradient(center, #66a575 0, #0c5110 100%);
    background-image: radial-gradient(center, #66a575 0, #0c5110 100%)
}

.header-container {
    height: 100%;
    background: url('../img/headercont.png') repeat-x;
    position: relative;
    text-align: center
}

.header-middle-line {
    height: 131px;
    width: 100%;
    background: url('../img/headercont2.png') repeat-x;
    position: absolute;
    top: 385px
}

.big-title {
    position: absolute;
    left: 50%;
    margin-left: -412px;
    top: 60px;
    width: 825px;
    height: 143px;
    background: url('../img/main-zagol.png') no-repeat
}

.earth {
    width: 673px;
    height: 535px;
    background: url('../img/earth.png') no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -337px;
    top: 190px;
    z-index: 2
}

#kup0, #kup1, #kup2, #kup3, #kup4 {
    position: absolute;
    left: 50%;
    top: 325px;
    z-index: 4;
    margin-left: -54px;
    width: 108px;
    height: 113px;
    background: url('../img/val-1.png') no-repeat center center
}

#kup1 {
    background-image: url('../img/val-2.png')
}

#kup2 {
    background-image: url('../img/val-3.png')
}

#kup3 {
    background-image: url('../img/val-4.png')
}

#kup4 {
    background-image: url('../img/val-5.png')
}

.header-featured-info {
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: 5;
    top: 520px;
    padding-top: 10px;
    background: #66a575;
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 18px
}

.header-featured-info p {
    margin-bottom: 18px
}

.header-featured-info .col-1, .header-featured-info .col-2, .header-featured-info .col-3 {
    float: left;
    height: 160px
}

.header-featured-info .col-1 {
    width: 45%;
    padding: 20px 30px 0 40px
}

.header-featured-info .col-2 {
    width: 45%;
    border-left: 1px solid #8cbc98;
    border-right: 1px solid #8cbc98;
    padding: 20px 25px 0 30px
}

.header-featured-info .col-3 {
    width: 10%;
    text-align: center;
    padding-top: 56px
}

.header-featured-info .ar-right-big {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url('../img/ar-right-big.png') no-repeat
}

.header-featured-info .ar-right-big:hover {
    background-position: 0 -42px
}

.menu-top {
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 730px;
    padding: 0 45px;
    list-style: none;
    font-size: 16px
}

.menu-top li {
    float: left;
    padding: 5px 15px;
    background: url('../img/menu-top-separ.png') no-repeat left 8px
}

.menu-top li:first-child {
    background: url('../img/icon-quest.png') no-repeat left 4px;
    padding-left: 35px
}

.menu-top a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #8cbc98
}

.menu-top a:hover {
    color: #f2e3bc
}

.currency-header {
    position: relative;
    height: 150px;
    background-image: 8121991;
    background-image: -webkit-radial-gradient(center, #66a575 0, #0c5110 100%);
    background-image: -moz-radial-gradient(center, #66a575 0, #0c5110 100%);
    background-image: -o-radial-gradient(center, #66a575 0, #0c5110 100%);
    background-image: radial-gradient(center, #66a575 0, #0c5110 100%);
    background-size: 100% 500px
}

.currency-header .menu-top {
    top: 110px;
    padding-left: 85px
}

.currency-big-title {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -303px;
    top: 20px;
    width: 646px;
    height: 70px;
    background: url('../img/cur-zagol.png') no-repeat
}

.currency-nav {
    background: #66a575;
    position: relative
}

.breadcumbs {
    float: left;
    padding: 18px 85px;
    width: 65%
}

.breadcumbs div {
    float: left
}

.breadcumbs div .bread-ar {
    width: 25px;
    display: inline-block;
    background: url('../img/bread-ar.png') no-repeat center
}

.breadcumbs div a {
    color: #fff;
    text-decoration: underline
}

.breadcumbs div a:hover {
    color: #f2e3bc
}

.breadcumbs div:last-child a {
    color: #f2e3bc;
    text-decoration: none
}

.currency-search-form {
    padding: 8px 15px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -27px
}

.currency-search-form .currency-search-input-cont {
    float: left;
    background: #fff;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    width: 250px
}

.currency-search-form .currency-search-input-cont input {
    background: 0;
    border: 0;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px
}

.currency-search-form .currency-search-label {
    float: left;
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 4px 0 0 10px;
    background: url('../img/serch.png') no-repeat 0 0
}

.currency-search-form .currency-search-label:hover {
    background-position: 0 -50px
}

.dropleft {
    position: absolute;
    z-index: 1001;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f2e3bc url('../img/dropleft-1.png') no-repeat center 20px;
    width: 70px;
    height: 100%;
    -webkit-box-shadow: 1px 0 6px rgba(0, 0, 0, .7);
    -moz-box-shadow: 1px 0 6px rgba(0, 0, 0, .7);
    box-shadow: 1px 0 6px rgba(0, 0, 0, .7);
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    -o-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    overflow: hidden
}

.dropleft:hover {
    width: 250px;
    background: #ececec url('../img/dropleft-2.png') no-repeat center 20px
}

.dropleft:hover .droplist-currencies-list {
    display: block
}

.dropleft:hover .droplist-currencies-list a {
    border-top-color: #ececec;
    border-bottom-color: #ececec
}

.dropleft .droplist-currencies-list {
    padding-top: 40px;
    width: 250px
}

.dropleft .droplist-currencies-list a {
    border-top: 1px solid #f2e3bc;
    border-bottom: 1px solid #f2e3bc;
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 8px 0 8px 75px;
    text-decoration: none;
    color: #000
}

.dropleft .droplist-currencies-list a:hover {
    background-color: #fff;
    border-top-color: #cdcdcd;
    border-bottom-color: #d8e9dc
}

.content {
    min-height: 540px;
    padding-top: 20px;
    position: relative;
    background: #f2e3bc;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmUzYmMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmUzYmMiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background-image: -webkit-linear-gradient(left, #f2e3bc 0, #fff 50%, #f2e3bc 100%);
    background-image: -moz-linear-gradient(left, #f2e3bc 0, #fff 50%, #f2e3bc 100%);
    background-image: -o-linear-gradient(left, #f2e3bc 0, #fff 50%, #f2e3bc 100%);
    background-image: linear-gradient(to right, #f2e3bc 0, #fff 50%, #f2e3bc 100%);
    -webkit-box-shadow: inset 0 -300px 500px #f2e3bc;
    -moz-box-shadow: inset 0 -300px 500px #f2e3bc;
    box-shadow: inset 0 -300px 500px #f2e3bc
}

.content:after {
    content: " ";
    display: block;
    background: url('../img/btm-shad.png') repeat-x;
    width: 100%;
    height: 8px;
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 0
}

.mainpage-article {
    float: left;
    width: 73%
}

.mainpage-aside {
    float: left;
    width: 27%
}

.mainpage-currencies-list {
    float: left;
    width: 100%;
    height: 100%;
    list-style: none;
    padding-top: 70px;
    position: relative
}

.mainpage-currencies-list .col-1 {
    position: absolute;
    z-index: 5;
    width: 40%;
    left: 0
}

.mainpage-currencies-list .col-2 {
    position: absolute;
    z-index: 4;
    width: 40%;
    left: 40%;
    margin-left: -10px;
    padding-top: 20px
}

.mainpage-currencies-list .col-2 a {
    padding-left: 55px
}

.mainpage-currencies-list li {
    float: left;
    width: 100%;
    padding-right: 10px;
    -webkit-border-radius: 0 8px 8px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 8px 8px 0;
    -moz-background-clip: padding;
    border-radius: 0 8px 8px 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .09);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .09);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOWVkY2UiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZTRiYSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #f9edce 0, #f2e4ba 100%);
    background-image: -moz-linear-gradient(top, #f9edce 0, #f2e4ba 100%);
    background-image: -o-linear-gradient(top, #f9edce 0, #f2e4ba 100%);
    background-image: linear-gradient(to bottom, #f9edce 0, #f2e4ba 100%)
}

.mainpage-currencies-list li:hover {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOWVkY2UiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZTRiYSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(bottom, #f9edce 0, #f2e4ba 100%);
    background-image: -moz-linear-gradient(bottom, #f9edce 0, #f2e4ba 100%);
    background-image: -o-linear-gradient(bottom, #f9edce 0, #f2e4ba 100%);
    background-image: linear-gradient(to top, #f9edce 0, #f2e4ba 100%)
}

.mainpage-currencies-list a {
    display: block;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 60px 0 35px;
    height: 50px;
    color: #630;
    line-height: 16px;
    font-size: 16px
}

.mainpage-currencies-list a:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: .1px
}

.mainpage-currencies-list a:hover {
    color: #66a575
}

.mainpage-currencies-list a span {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    text-decoration: underline
}

.mainpage-news-title {
    text-transform: uppercase;
    color: #630;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 70px 0 20px 0
}

.mainpage-news-list li {
    background: #f2e3bc;
    margin-bottom: 15px
}

.mainpage-news-list .news-list-date {
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
    font-size: 13px
}

.mainpage-news-list .news-list-link {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #630
}

.mainpage-news-list .news-list-link:hover {
    color: #66a575
}

.currency-big-container {
    position: relative;
    border: 1px solid #bf0b31;
    margin: 0 15px 0 85px
}

.currency-big-container .currency-bukv {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 6;
    background: #385d8c;
    color: #fff;
    font-size: 25px;
    padding: 7px 8px;
    font-weight: bold
}

.currency-big-container .currency-flag {
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 6;
    border-left: 1px solid #bf0b31
}

.currency-big-container .h1-title {
    font-family: Tahoma;
    letter-spacing: 2px;
    font-size: 45px;
    line-height: 47px;
    height: 82px;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #bf0b31;
    border-top-width: 1px;
    margin: 0 33px
}

.currency-small-container {
    position: relative;
    margin: 0 15px 0 85px
}

.currency-small-container .currency-bukv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: #385d8c;
    color: #fff;
    font-size: 25px;
    padding: 7px 8px;
    font-weight: bold
}

.currency-small-container .currency-flag {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6
}

.currency-small-container .h1-title {
    font-family: Tahoma;
    letter-spacing: 2px;
    font-size: 45px;
    line-height: 47px;
    height: 82px;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #bf0b31;
    margin: 0 33px 20px 33px
}

.line-for-subtitle {
    height: 23px;
    margin: 0 30px;
    position: relative;
    text-align: center
}

.line-for-subtitle .currency-subtitle {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    position: absolute;
    top: -12px;
    height: 23px;
    z-index: 5;
    margin: auto;
    left: 0;
    right: 0
}

.line-for-subtitle .currency-subtitle .currency-subtitle-inner {
    background: #bf0b31;
    display: inline-block;
    padding: 1px 20px 2px 20px;
    color: #fff;
    -webkit-border-radius: 15px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 15px;
    -moz-background-clip: padding;
    border-radius: 15px;
    background-clip: padding-box
}

.currency-featured-info {
    width: 100%;
    margin: 0 0 15px 0;
    color: #630
}

.currency-featured-info td {
    padding: 15px 25px
}

.currency-featured-info .col-1 {
    width: 50%;
    padding-left: 30px
}

.currency-featured-info .col-2 {
    width: 40%;
    border-left: 1px solid #8cbc98;
    border-right: 1px solid #8cbc98
}

.currency-featured-info .col-3 {
    width: 10%;
    text-align: center;
    vertical-align: middle
}

.currency-featured-info .ar-right-big {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url('../img/ar-right-bigbl.png') no-repeat
}

.currency-featured-info .ar-right-big:hover {
    background-position: 0 -42px
}

.currency-featured-info .featured-param-line {
    margin: 4px 0
}

.currency-featured-info .featured-param {
    float: left;
    width: 65%;
    padding: 6px 0 5px 0;
    font-weight: bold
}

.currency-featured-info .featured-param-value {
    float: left;
    width: 35%;
    background: #fff;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    padding: 6px 10px 5px 10px
}

.currency-featured-info .featured-param-value .cb {
    font-weight: normal
}

.currency-tabs {
    margin: 20px 15px 20px 85px
}

.currency-tabs li, .currency-tabs a {
    float: left;
    position: relative;
    background: #66a575;
    color: #fff;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #66a575;
    padding-top: 15px;
    border-right: 0;
    border-left-color: #8cbc98;
    text-decoration: none
}

.currency-tabs li#tab-1, .currency-tabs a#tab-1 {
    width: 25%
}

.currency-tabs li#tab-2, .currency-tabs a#tab-2 {
    width: 44%
}

.currency-tabs li#tab-3, .currency-tabs a#tab-3 {
    width: 12%
}

.currency-tabs li#tab-4, .currency-tabs a#tab-4 {
    width: 19%
}

.currency-tabs li.common-1, .currency-tabs a.common-1 {
    width: 26%
}

.currency-tabs li.common-2, .currency-tabs a.common-2 {
    width: 30%
}

.currency-tabs li.common-3, .currency-tabs a.common-3 {
    width: 44%
}

.currency-tabs li:first-child, .currency-tabs a:first-child {
    -webkit-border-radius: 8px 0 0 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px 0 0 8px;
    -moz-background-clip: padding;
    border-radius: 8px 0 0 8px;
    background-clip: padding-box;
    border-left-color: #66a575
}

.currency-tabs li:last-child, .currency-tabs a:last-child {
    -webkit-border-radius: 0 8px 8px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 8px 8px 0;
    -moz-background-clip: padding;
    border-radius: 0 8px 8px 0;
    background-clip: padding-box;
    border-right: 1px solid #66a575
}

.currency-tabs li:hover, .currency-tabs a:hover, .currency-tabs li.active, .currency-tabs a.active {
    background: #fff;
    color: #000
}

.currency-tabs li:hover:before, .currency-tabs a:hover:before, .currency-tabs li:hover span, .currency-tabs a:hover span, .currency-tabs li.active span, .currency-tabs a.active span {
    border-color: #fff
}

.currency-tabs li.active:before, .currency-tabs a.active:before {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    content: "";
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    z-index: 1000
}

.currency-tabs li.active:after, .currency-tabs a.active:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #66a575;
    content: "";
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 50%;
    margin-left: -4px
}

.currency-tabs li span, .currency-tabs a span {
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid #8cbc98
}

.currency-tab {
    padding: 0 15px 20px 85px
}

.currency-tab .currency-block {
    -webkit-border-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px;
    -moz-background-clip: padding;
    border-radius: 8px;
    background-clip: padding-box;
    overflow: hidden;
    margin-top: 20px
}

.currency-tab .currency-block.bigheight td {
    padding: 10px
}

.currency-tab .currency-block.bigheight td.col-left {
    width: 25%
}

.currency-tab .currency-block.bigheight td.col-right {
    width: 75%
}

.currency-tab .currency-block.bigheight td.table-separator {
    padding: 0
}

.currency-tab .currency-block-header {
    border: 1px solid #c2d4a3;
    -webkit-border-radius: 8px 8px 0 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px 8px 0 0;
    -moz-background-clip: padding;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    background-color: #c2d4a3;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px
}

.currency-tab .currency-block-body {
    padding: 10px 15px;
    border: 1px solid #c2d4a3;
    -webkit-border-radius: 0 0 8px 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 8px 8px;
    -moz-background-clip: padding;
    border-radius: 0 0 8px 8px;
    background-clip: padding-box;
    border-top: 0
}

.currency-tab .currency-block-column {
    float: left;
    width: 50%;
    padding-right: 15px
}

.currency-tab .currency-block-bottom {
    float: left;
    width: 100%;
    padding-top: 5px
}

.currency-tab .link-to-scheme, .currency-tab .link-to-table {
    display: block;
    float: left;
    padding: 15px 15px 15px 40px;
    background: url('../img/link-to-scheme.png') no-repeat left 8px
}

.currency-tab .link-to-table {
    background-image: url('../img/link-to-table.png')
}

.currency-tab .coin-block {
    -webkit-border-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px;
    -moz-background-clip: padding;
    border-radius: 8px;
    background-clip: padding-box;
    overflow: hidden;
    margin-top: 20px
}

.currency-tab .coin-block-header {
    border: 1px solid #c2d4a3;
    -webkit-border-radius: 8px 8px 0 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px 8px 0 0;
    -moz-background-clip: padding;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    background-color: #c2d4a3;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px
}

.currency-tab .coin-block-body {
    padding: 0 15px;
    border: 1px solid #c2d4a3;
    -webkit-border-radius: 0 0 8px 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 8px 8px;
    -moz-background-clip: padding;
    border-radius: 0 0 8px 8px;
    background-clip: padding-box;
    border-top: 0
}

.currency-tab .coin-block-cont {
    padding: 20px 0;
    border-bottom: 1px solid #8cbc98
}

.currency-tab .coin-block-cont.last-in-group {
    border-color: #bf0b31
}

.currency-tab .coin-block-cont:last-child {
    border: 0
}

.currency-tab .coin-block-left {
    float: left;
    width: 50%
}

.currency-tab .coin-block-right {
    float: left;
    width: 50%;
    padding-left: 15px;
    color: #630
}

.currency-tab .cbl {
    background: #e9dbad;
    float: left;
    width: 100%;
    height: auto;
}

.currency-tab .cbl .col-1, .currency-tab .cbl .col-2, .currency-tab .cbl .col-3 {
    float: left;
    width: 18%;
    position: relative;
    line-height: 200px;
    margin: 0 2px;
}

.currency-tab .cbl .col-1 {
    width: 40%
}

.currency-tab .cbl .col-1 .col-inn {
    padding: 0 12px
}

.currency-tab .cbl .col-1 .coin-heading {
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 5px;
    line-height: 24px
}

.currency-tab .cbl .col-1 .coin-desc {
    font-style: italic
}

.currency-tab .cbl .col-2, .currency-tab .cbl .col-3 {
    text-align: center
}

.currency-tab .cbl .col-inn {
    display: inline-block;
    line-height: 16px;
    vertical-align: middle
}

.currency-tab .cbl .coin-label {
    position: absolute;
    background: #bf0b31;
    font-style: italic;
    padding: 5px 10px;
    float: right;
    color: #fff;
    font-size: 15px;
    top: 0;
    left: 50%;
    margin-left: -32px
}

.currency-tab .coin-props {
    margin-bottom: 15px
}

.currency-tab .coin-props-left {
    float: left;
    width: 40%
}

.currency-tab .coin-props-right {
    float: left;
    width: 60%;
    padding-left: 15px
}

.currency-tab .coin-sub {
    font-size: 13px;
    margin-bottom: 20px
}

.currency-table {
    width: 100%;
    border-collapse: collapse;
    border: 0
}

.currency-table td {
    vertical-align: middle;
    padding: 5px 10px
}

.currency-table .col-left {
    background-color: #e9dbad;
    width: 30%;
    text-align: center;
    font-weight: bold
}

.currency-table .col-right {
    width: 70%
}

.currency-table .col-full {
    width: 100%;
    padding: 10px 0
}

.currency-table .col-full.padded {
    padding-top: 30px
}

.currency-table .table-separator {
    height: 5px;
    padding: 0
}

.bottom-line {
    border-bottom: 1px solid #66a575
}

.bottom-line .menu-bottom {
    float: right;
    padding: 30px 45px;
    font-size: 16px
}

.bottom-line .menu-bottom li {
    float: left;
    padding: 5px 15px;
    background: url('../img/menu-top-separ.png') no-repeat left 8px
}

.bottom-line .menu-bottom li:first-child {
    background: 0
}

.bottom-line .menu-bottom a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #8cbc98
}

.bottom-line .menu-bottom a:hover {
    color: #f2e3bc
}

.bottom-line2 {
    color: #e1e0be;
    padding: 25px 45px;
    font-size: 12px;
    font-style: italic;
    line-height: 12px
}

.bottom-line2 p {
    margin-bottom: 10px
}

.bottom-line2 a {
    color: #e1e0be;
    text-decoration: underline
}

.bottom-line2 a:hover {
    color: #fff
}

.bottom-line2 .col-1, .bottom-line2 .col-2, .bottom-line2 .col-3 {
    float: left;
    width: 33.33333333%;
    height: 60px;
    padding: 8px 25px
}

.bottom-line2 .col-1 {
    background: url('../img/bottom-separ.png') no-repeat right top;
    padding-top: 0;
    padding-left: 40px
}

.bottom-line2 .col-2 {
    background: url('../img/bottom-sign.png') no-repeat 25px top;
    padding-left: 65px;
    padding-right: 15px;
    padding-top: 0;
    line-height: 14px
}

.bottom-line2 .col-3 {
    background: url('../img/bottom-separ.png') no-repeat left top
}

.common-mainheading {
    padding-left: 70px;
    color: #bf0b31;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 30px;
    font-family: Tahoma;
    font-weight: bold;
    margin-bottom: 20px
}

.common-info-text {
    padding: 0 15px 30px 85px;
    text-align: justify;
    font-size: 15px
}

.common-info-text ul {
    margin: 1em 0
}

.common-info-text ul li {
    background: url('../img/list.png') no-repeat 0 3px;
    padding-left: 20px
}

.common-info-text .small {
    font-size: 14px
}

.common-info-text .first-letter {
    width: 70px;
    height: 70px;
    font-size: 70px;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
    padding-top: 2px;
    text-align: center;
    margin: 0 15px 10px 0;
    float: left;
    background-color: #223d78
}

.common-info-text h3 {
    text-align: center;
    color: #bf0b31;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0
}

.common-info-text .img-container {
    float: right;
    overflow: visible;
    background: url('../img/common-bg.png') repeat-y 100px 0;
    padding: 35px 10px 0 0;
    margin: 0 0 20px 40px;
    width: 510px
}

.common-info-text .img-container .img-heading {
    background: #bf0b31;
    font-style: italic;
    padding: 5px 10px;
    float: right;
    color: #fff;
    font-size: 15px
}

.common-info-text .img-container img {
    float: right;
    width: 500px;
    margin-bottom: 35px
}

.common-info-text .img-sm-cont {
    float: left;
    background: #e9dbad;
    padding: 10px;
    width: 330px;
    margin: 0 15px 10px 0
}

.common-info-text .img-sm-cont img {
    float: left;
    border: 1px solid #66a575;
    margin: 0 10px 0 0
}

.common-info-text .img-sm-cont .img-sm-desc {
    font-style: italic;
    text-align: left;
    font-size: 13px;
    line-height: 14px
}

.common-info-text .img-sm-cont.two-img {
    float: right;
    margin: 0 0 10px 15px;
    width: 320px;
    padding-right: 0
}

.common-info-text .img-sm-cont.two-img .col {
    float: left;
    width: 50%
}

.common-info-text .img-sm-cont.two-img img {
    margin: 0 0 10px 0
}

.navigation {
    text-align: center;
    padding: 20px 0
}

.navigation .navigation-pages {
    display: inline-block
}

.navigation a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    margin: 0 2px
}

.navigation a:hover {
    background: #fff;
    color: #bf0b31
}

.navigation span {
    display: inline-block;
    margin: 0 2px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #bf0b31;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #bf0b31;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.common-machine-text {
    padding: 0 15px 30px 85px;
    text-align: justify;
    font-size: 15px
}

.common-machine-text ul {
    margin: 1em 0
}

.common-machine-text ul li {
    background: url('../img/list.png') no-repeat 0 3px;
    padding-left: 20px
}

.common-machine-text .small {
    font-size: 14px
}

.common-machine-text .first-letter {
    width: 70px;
    height: 70px;
    font-size: 70px;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
    padding-top: 2px;
    text-align: center;
    margin: 0 15px 10px 0;
    float: left;
    background-color: #223d78
}

.common-machine-text h3 {
    text-align: center;
    color: #bf0b31;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0
}

.common-machine-text .h-block:after {
    content: " ";
    display: table;
    clear: both
}

.common-machine-text .h-block h3 {
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #bf0b31;
    padding: 5px 0;
    margin-bottom: 15px
}

.common-machine-text .h-block .img-container.one-img .img-inner-container {
    float: left;
    background: #e9dbad;
    padding: 20px;
    width: 460px;
    margin: 0 20px 10px 0
}

.common-machine-text .h-block .img-container.one-img .img-inner-container .img-heading {
    background: #bf0b31;
    font-style: italic;
    padding: 5px 10px;
    float: left;
    color: #fff;
    font-size: 15px
}

.common-machine-text .h-block .img-container.two-img {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center
}

.common-machine-text .h-block .img-container.two-img .two-img-cont {
    display: inline-block;
    background: #e9dbad;
    padding: 20px;
    margin: 0 auto
}

.common-machine-text .h-block .img-container.two-img .two-img-cont:after {
    content: " ";
    display: table;
    clear: both
}

.common-machine-text .h-block .img-container.two-img .img-heading {
    float: left;
    width: 100%
}

.common-machine-text .h-block .img-container.two-img .img-heading div {
    background: #bf0b31;
    font-style: italic;
    padding: 5px 10px;
    float: left;
    color: #fff;
    font-size: 15px
}

.common-machine-text .h-block .img-container.two-img .img-inner-container {
    float: left;
    width: 420px
}

.common-machine-text .h-block .img-container.two-img .img-inner-container:first-child {
    margin-right: 10px
}

.common-signs-text {
    padding: 0 15px 30px 0;
    margin-left: 85px
}

.common-signs-text .common-signs-heading {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    background: #c2d4a3;
    float: left;
    width: 100%;
    margin-bottom: 10px
}

.common-signs-text .common-signs-left {
    float: left;
    width: 540px
}

.common-signs-text .common-signs-right {
    margin-left: 570px
}

.common-signs-text .img-inner-container {
    float: left;
    background: #e9dbad;
    padding: 20px;
    margin-bottom: 10px;
    position: relative
}

.common-signs-text .img-inner-container .img-heading {
    background: #bf0b31;
    font-style: italic;
    padding: 5px 10px;
    float: left;
    color: #fff;
    font-size: 15px
}

.common-signs-text .img-inner-container img {
    float: left;
    width: 500px
}

.common-signs-text .img-inner-container .to-img {
    position: relative
}

.common-signs-text div[class^="number-"] {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    width: 24px;
    margin: -12px 0 0 -12px;
    height: 24px;
    text-align: center;
    z-index: 5;
    background: url('../img/green-bg.png');
    color: #fff;
    font-weight: bold;
    cursor: pointer
}

.common-signs-text div[class^="number-"]:hover, .common-signs-text div[class^="number-"].active {
    background: #bf0b31
}

.common-signs-text div[class^="number-"].no-click {
    cursor: default
}

.common-signs-text div[class^="number-"].disabled {
    cursor: default;
    background: #bf0b31 !important
}

.common-signs-text div[class^="for-"] {
    font-size: 14px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    background: url('../img/green-bg.png');
    color: #fff;
    font-weight: bold;
    float: left
}

.common-signs-text div[class^="for-"].active, .common-signs-text div[class^="for-"].red {
    background: #bf0b31
}

.common-signs-text .sign-opened {
    display: none;
    border: 1px solid #66a575;
    position: relative;
    background: #fff;
    padding: 12px 12px 0 12px;
    float: left;
    width: auto;
    max-width: 100%;
}

.common-signs-text .sign-opened:before {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #fff;
    content: "";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 100%;
    margin-top: -7px;
    z-index: 6
}

.common-signs-text .sign-opened:after {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #66a575;
    content: "";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    z-index: 5
}

.common-signs-text .sign-opened img {
    border: 1px solid #66a575;
    float: left;
    margin: 0 12px 12px 0;
    max-width: 100%
}

.common-signs-text .sign-opened-header {
    float: left;
    width: 100%;
    padding-bottom: 12px
}

.common-signs-text .opened-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    color: #630
}

.common-signs-text .opened-num {
    font-size: 14px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    background: #bf0b31;
    color: #fff;
    font-weight: bold;
    float: left
}

.common-signs-text .sign-opened-close {
    width: 24px;
    height: 24px;
    background: #66a575 url('../img/close.png') no-repeat center;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    z-index: 5
}

.common-signs-text .sign-opened-close:hover {
    background-color: #bf0b31
}

.common-signs-text .sign-opened-inner {
    float: left;
    width: auto;
    max-width: 100%;
    margin-bottom: 12px
}

.common-signs-text .sign-opened-inner img {
    width: auto;
    max-width: 100%;
}

.common-signs-text .sign-opened-text {
    float: left;
/*    max-width: 550px*/
}


.common-signs-text .sign-priznaki {
    float: left;
    width: 100%
}

.common-signs-text .sign-priznaki .first-level {
    float: left;
    width: 100%;
    margin-top: 3px
}

.common-signs-text .sign-priznaki .first-level:hover .vert-cont, .common-signs-text .sign-priznaki .first-level.active .vert-cont {
    background-color: #e6d6a1
}

.common-signs-text .sign-priznaki .first-level:hover .vert-cont:after, .common-signs-text .sign-priznaki .first-level.active .vert-cont:after {
    background-position: 5px -31px
}

.common-signs-text .sign-priznaki .first-level .vert-cont {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background: #e9dbad no-repeat 12px center;
    cursor: pointer;
    position: relative
}

.common-signs-text .sign-priznaki .first-level .vert-cont:after {
    content: " ";
    display: block;
    width: 21px;
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #f2e3bc;
    background: url('../img/priz-ar.png') no-repeat 4px 20px
}

.common-signs-text .sign-priznaki .first-level .verticaled {
    display: inline-block;
    padding: 0 30px 0 48px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 14px
}

.common-signs-text .sign-priznaki .first-level.icon-1 .vert-cont {
    background-image: url('../img/priz-1.png')
}

.common-signs-text .sign-priznaki .first-level.icon-2 .vert-cont {
    background-image: url('../img/priz-2.png')
}

.common-signs-text .sign-priznaki .first-level.icon-3 .vert-cont {
    background-image: url('../img/priz-3.png')
}

.common-signs-text .sign-priznaki .first-level.icon-4 .vert-cont {
    background-image: url('../img/priz-4.png')
}

.common-signs-text .sign-priznaki .first-level.icon-5 .vert-cont {
    background-image: url('../img/priz-5.png')
}

.common-signs-text .sign-priznaki .first-level > ul {
    display: none;
    float: left;
    width: 100%;
    border: 1px solid #ded09c;
    background: #fff;
    border-top: 0;
    padding: 8px 8px 0 8px
}

.common-signs-text .sign-priznaki .second-level {
    float: left;
    width: 100%;
    padding-bottom: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.common-signs-text .sign-priznaki .second-level:hover {
    color: #66a575
}

.common-signs-text .sign-priznaki .second-level:hover div[class^="for-"] {
    background: #66a575
}

.common-signs-text .sign-priznaki .second-level.no-click {
    cursor: default
}

.common-signs-text .sign-priznaki .second-level.no-click:hover {
    color: #000
}

.common-signs-text .sign-priznaki .second-level.no-click div[class^="for-"] {
    background: #bf0b31
}

.common-signs-text .sign-priznaki .li-heading {
    margin-left: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 4px
}

.common-signs-text .sign-priznaki .active + .li-heading {
    text-decoration: none
}

.common-signs-text .sign-priznaki .info-to-opened {
    display: none
}

.common-signs-text .simple .sign-opened {
    margin-bottom: 5px;
}

.common-signs-text .simple .sign-priznaki ul {
    float: left;
    width: 100%;
    border: 1px solid #ded09c;
    background: #fff;
    padding: 8px 8px 0 8px
}

.common-signs-text .falsif-block {
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    width: auto;
    max-width: 100%;
}

.common-signs-text .falsif-block .fb-left {
    /*float: left;*/
    width: auto;
    max-width: 100%;
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    vertical-align: middle;
}

.common-signs-text .falsif-block .fb-left img {
    border-color: #bf0b31;
    width: auto;
    max-width: 100%;
}

.common-signs-text .falsif-block .fb-left .fb-capt {
    color: #bf0b31
}
.common-signs-text .falsif-block .fb-none,
.common-signs-text .falsif-block .fb-right {
    /*float: left;*/
    display: inline-block;
    width: auto;
    max-width: 100%;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    vertical-align: middle;
}

.common-signs-text .falsif-block .fb-right img {
    border-color: #66a575;
    width: auto;
    max-width: 100%;
}

.common-signs-text .falsif-block .fb-right .fb-capt {
    color: #66a575
}

.common-signs-text .falsif-block img {
    display: inline-block;
    float: none;
    margin: 0;
    width: auto;
    max-width: 100%;
}

.rectangle-false {
    border: 1px dashed #BF0B31;
}

.rectangle-true {
    border: 1px dashed #66A575;
}

.round-false {
    border: 1px dashed #BF0B31;
    border-radius: 50% 50%;
}

.round-true {
    border: 1px dashed #66A575;
    border-radius: 50% 50%;
}

.common-signs-text .falsif-block .fb-capt {
    font-weight: bold;
    margin: 2px 0 0;
}

.falsif-signs {
    margin: 20px 0 20px 85px;
    text-align: center
}

.falsif-signs .falsif-sign {
    display: inline-block;
    background: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #bf0b31;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px
}

.falsif-characterist {
    color: #630;
    margin: 20px 0 20px 85px;
    padding-bottom: 20px;
}
.falsif-characterist h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 14px;
}

.nexgen-cont {
    border: 1px solid #66a575;
    position: relative;
    background: #fff;
    padding: 12px 12px 0 12px;
    float: left;
    width: 100%
}

.nexgen-cont:before {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #fff;
    content: "";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 100%;
    margin-top: -7px;
    z-index: 6
}

.nexgen-cont:after {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #66a575;
    content: "";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    z-index: 5
}

.nexgen-cont img {
    border: 1px solid #66a575;
    float: left;
    max-width: 100%
}

.nexgen-cont .nexgen-item {
    float: left;
    width: 100%;
    padding-bottom: 12px
}

.nexgen-cont .nexgen-item .opened-heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding-top: 6px;
    padding-right: 15px;
    color: #000
}

.nexgen-cont .nexgen-item .opened-heading span {
    color: #66a575
}

.nexgen-cont .nexgen-item .nexgen-img {
    float: left;
    width: 100%;
    margin-top: 10px
}

.osob-toleft {
    border: 1px solid #66a575;
    position: relative;
    background: #fff;
    padding: 12px;
    clear: both;
    width: 220px;
    margin: 0 auto
}

.osob-toleft:before {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    content: "";
    position: absolute;
    z-index: 999;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    z-index: 6
}

.osob-toleft:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #66a575;
    content: "";
    position: absolute;
    z-index: 999;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    z-index: 5
}

.osob-toleft img {
    border: 1px solid #66a575;
    float: left;
    max-width: 100%
}

.osob-toleft .opened-heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding-top: 6px;
    padding-right: 15px;
    color: #000
}

.osob-toleft .opened-heading span {
    color: #66a575
}

.osob-toleft .nexgen-img {
    float: left;
    width: 100%;
    margin-top: 10px
}

.personal-heading {
    font-family: Tahoma;
    font-weight: bold;
    padding-left: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #bf0b31;
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 20px
}

.currency-big-container.personal {
    padding: 30px 0 10px 0
}

.currency-big-container.personal h4 {
    margin-bottom: 30px
}

.currency-big-container.personal .featured-param-line {
    margin: 8px 0
}

.currency-big-container.personal .featured-param {
    font-weight: normal;
    width: 50%;
    padding: 0;
    line-height: 15px
}

.currency-big-container.personal .featured-param-value {
    text-align: center;
    width: 50%
}

.currency-big-container.personal .col-2 {
    border-right: 0
}

.currency-big-container.personal .droplist-currencies-list div {
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 8px 0 8px 75px;
    text-decoration: none;
    color: #630
}

.greenline {
    width: 100%;
    background: #8cbc98;
    height: 1px;
    margin: 20px 0
}

.personal-form {
    margin: 20px 0
}

.personal-form .form-item {
    margin: 0 0 15px 0;
    position: relative
}

.personal-form .form-item label {
    float: left;
    width: 150px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    color: #630
}

.personal-form .form-item label span {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px
}

.personal-form .form-item input {
    float: left;
    width: 240px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #63a771;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
    -webkit-box-shadow: inset 2px 2px 2px #64a673;
    -moz-box-shadow: inset 2px 2px 2px #64a673;
    box-shadow: inset 2px 2px 2px #64a673;
    padding: 0 15px
}

.personal-form .def-button {
    margin-left: 150px
}

.form-error {
    background: #e9dbad url('../img/icon-alert.png') no-repeat 10px 10px;
    padding: 10px 15px;
    z-index: 5;
    position: absolute;
    left: 430px;
    top: -3px;
    font-size: 15px;
    color: #3f1f00
}

.form-error:before {
    display: block;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #e9dbad;
    content: " ";
    position: absolute;
    z-index: 999;
    z-index: 6;
    top: 14px;
    left: -5px
}

.def-button {
    color: #fff;
    background: #66a575;
    text-transform: uppercase;
    border: 0;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    cursor: pointer;
    width: 240px;
    -webkit-box-shadow: 1px 1px 1px #0c5110;
    -moz-box-shadow: 1px 1px 1px #0c5110;
    box-shadow: 1px 1px 1px #0c5110
}

.def-button:hover, .def-button:active {
    outline: 0;
    background: #8cbc98
}

.clear-both {
    clear: both
}

.tab-preloader {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    background: url('../img/tab-preloader.gif') no-repeat
}

.uc-first {
    text-transform: lowercase
}

.uc-first:first-letter {
    text-transform: uppercase
}
.symbol-falsificate {
    position: absolute;
    left: 0;
    bottom:0;
    background: #BF0B31;
    padding: 2px 4px;
    text-align: center;
    display: block;
    color: #ffffff;
    font-weight: 900;
}
.falsificate-image-container {
    padding: 0px;
    margin: 0px;
    position: relative;
}