%footer.g-footer
  .g-wrapper
    %p.g-copy
      © 2013 - 2017
      %br.g-mobile
      Интернет-агентство Я.Creations.
      %br 
      Все права защищены.
      
    %a.g-social.g-social_fb
      %svg.g-social__img.g-social__img_fb
        %use{"xlink:href" => "#ic-fb-footer"}
      %span.g-social__text
        Мы
        = succeed "\u{432}\u{a0}Facebook" do
          %br/
    %a.g-social.g-social_bitrix
      %svg.g-social__img.g-social__img_bitrix
        %use{"xlink:href" => "#ic-bitrix"}
      %span.g-social__text
        Золотой партнёр
        %br>/
        «1С-Битрикс»
    %a.g-social.g-social_interact
      %svg.g-social__img.g-social__img_interact
        %use{"xlink:href" => "#ic-interact"}
      %svg.g-social__img.g-social__img-small.g-social__img_interact_small
        %use{"xlink:href" => "#ic-interact_small"}
      %span.g-social__text
        Член ассоциации
        %br>/
        интерактивных агентств