%header#g-header.g-header{class: get_header_class}
  %a.g-logo.g-logo_top{:href => root_path}
    -if action_name == 'home'
      %img.g-logo__img.g-logo__background_image{src: "#{asset_path 'logo-light.svg'}", style: "width: 50px; height: 50px;"}

  %a.g-burger.js-menu{:href => "javascript:void(0)"}
    %i.g-burger__icon
  #menu-wrapper.g-menu
    .g-menu-top
      %a.g-logo{:href => root_path}
        %img.g-logo__img.g-logo__img_small{src: "#{asset_path 'logo-dark.svg'}", style: "width: 50px; height: 50px;"}
      %a.g-close.js-menu{:href => "javascript:void(0)"}
        %i.g-close__icon
    .g-menu__list
      =header_nav_link 'Услуги', services_path
      =header_nav_link 'Проекты', cases_path
      =header_nav_link 'Компания', about_path
      =header_nav_link 'Блог', post_categories_path
      =header_nav_link 'Контакты', contact_path
      
      %p.g-menu__text
        %a.g-menu__phone{:href => "tel:74953745811"} +7 (495) 374-58-11
        %a.g-menu__social.g-menu__social_fb{href: 'https://www.facebook.com/yadadyacreations', target: '_blank', style: 'text-decoration: none;'}
          %svg.g-icon
            %use{"xlink:href" => "#ic-facebook"}
        }
        %a.g-menu__social.g-menu__social_mail{:href => "mailto:info@atomic-digital.ru"}
          %svg.g-icon
            %use{"xlink:href" => "#ic-mail"}
    %p.g-menu__info
      %a.g-menu__phone{:href => "tel:74953745811"} +7 (495) 374-58-11
      %a.g-menu__mail{:href => "mailto:info@atomic-digital.ru"} info@atomic-digital.ru