#success-popup.g-popup
  .g-popup__content
    %a.g-popup__close.js-close
      %svg.g-popup__icon
        %use{"xlink:href" => "#ic-close"}
    %h3.g-popup__title
      %span.g-popup__title-text Спасибо
    %p.g-popup__text Ваше сообщение отправлено. Пишите еще!
#form-popup.g-popup
  .g-popup__content
    %a.g-popup__close.js-close
      %svg.g-popup__icon
        %use{"xlink:href" => "#ic-close"}
    %h3.g-popup__title
      %span.g-popup__title-text Заполните форму
    %p.g-popup__text
      или напишите нам
      %a.g-link{:href => "mailto:info@atomic-digital.ru"} info@atomic-digital.ru
    %form#form.g-form.g-contact__form
      .g-input
        %input.g-input__field.js-input{:name => "[request]full_name", :placeholder => "Как вас зовут", :type => "text"}/
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
      .g-input
        %input.g-input__field.js-input{:name => "[request]email", :placeholder => "E-mail", :type => "text"}/
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
      .g-input
        %input.g-input__field.js-input.js-input-phone{:name => "[request]phone", :placeholder => "Контактный телефон", :type => "text"}/
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
      .g-input.g-extra-message
        %input.g-input__field.js-input.js-input-phone{:name => "[request]message", :placeholder => "Дополнительное сообщение", :type => "text"}/
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
      .g-input
        %textarea.g-input__field.g-input__field_textarea{:name => "[request]body", :placeholder => "Сообщение"}
      %p.g-form__text
        Если у вас есть ТЗ или иная информация, просто приложите файл к запросу (поддерживаются форматы .pdf, .txt, .doc, .docx):
      %input.g-input__field-file{:name => "request[attachments][]", :type => "file"}/
      %input.g-btn.g-btn_submit{:type => "submit", :value => "Отправить"}/
