body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:20px;
  width:309px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:24px;
  top:68px;
  width:64px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:24px;
  top:125px;
  width:276px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u5 {
  position:absolute;
  left:24px;
  top:96px;
  width:119px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:200px;
  top:310px;
  width:100px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:24px;
  top:188px;
  width:276px;
  height:102px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:102px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:24px;
  top:160px;
  width:112px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
