%section.g-section.g-section_blog
  .g-wrapper.g-wrapper_blog
    .g-blog-content
      %ul.g-posts
        -@posts.each do |post|
          %li.g-posts__item
            .g-posts__img-wrapper
              %img.g-posts__img{:src => post.logo.news_thumb}/
            %h2.g-posts__title=post.title
            .g-posts__meta=truncate(post.body, length: 200, escape: false)
            %p.g-posts__date=l post.published_at, format: "%e %B"
            =link_to 'Читать дальше', post_category_post_path(post.post_category, post), class: 'g-btn g-btn_small'

      =render partial: 'front/navigation/pager', locals: {path: "blog_path", page: @page, class: "g-pagination_posts"}            
      
    .g-blog-sidebar
      .g-blog-sidebar__item
        %h2.g-blog-sidebar__title ПРЕСС-ЦЕНТР
        %p.g-blog-sidebar__text Здесь вы найдете самые последние события, связанные с нашей компанией.
      .g-blog-sidebar__item
        %h2.g-blog-sidebar__title КАТЕГОРИИ
        -@categories.each do |category|
          =link_to category.title, post_categories_path(category: category.title), class: 'g-blog-sidebar__category'