%section.g-section.g-section_post
  -if @post.logo_inner
    .g-post-img-wrapper
      %img.g-post-img{:src => @post.logo_inner.show_page}/
  .g-wrapper.g-post
    %p.g-post__date=l @post.created_at, format: "%e %B %Y"
    %h1.g-title.g-title_blog
      %span.g-title__text=@post.title
    .g-post__content
      =@post.body.html_safe
  .g-post-nav
    -if @previous_post
      =link_to blog_post_path(@previous_post), class: 'g-post-nav__item' do
        %span.g-post-nav__direction Предыдущая запись
        %span.g-post-nav__name=@previous_post.title
        %svg.g-post-nav__arrow.g-post-nav__arrow_prev
          %use{"xlink:href" => "#ic-arrow"}
    -if @next_post
      =link_to blog_post_path(@next_post), class: 'g-post-nav__item' do
        %span.g-post-nav__direction Следующая запись
        %span.g-post-nav__name=@next_post.title
        %svg.g-post-nav__arrow.g-post-nav__arrow_next
          %use{"xlink:href" => "#ic-arrow"}
