%section.g-section.g-section_what
  .g-wrapper
    %h2.g-title
      %span.g-title__text 500
    .area-center{style: "text-align: center; margin-top: 4rem; margin-bottom: 4rem;"}
      =image_tag 'projects/what_3.svg', class: "g-empty__icon"
    %h3.g-subtitle
      ="К сожалению, сервер не справился с задачей. Наши инженеры уже получили уведомление об ошибке. Вы можете пройти на #{link_to 'главную', root_path} или попробовать зайти на сайт позже.".html_safe