%section.g-section.g-section_what
  .g-wrapper
    %h2.g-title
      %span.g-title__text 404
    .area-center{style: "text-align: center;"}
      =image_tag 'projects/what_3.svg', class: "g-empty__icon"
    %h3.g-subtitle
      ="К сожалению, запрашиваемая страница не доступна. Вы можете пройти на #{link_to 'главную', root_path}.".html_safe