- if Rails.env.production?
  User-Agent: *
  Allow: /
  Disallow: /admin
  Disallow: /users/sign_up
  Disallow: /users/sign_in
  Disallow: /*?page=
  Disallow: /*?page
  Host: www.yadadya.com
  Sitemap: http://www.yadadya.com/sitemap.xml
- else
  User-Agent: *
  Disallow: /