$('#form').find('.text-error').empty();

var errors = "<%= @request.errors.messages %>";

errors_array = errors.split(',');

for (item of errors_array) {
  var field_name = item.substring(item.lastIndexOf(":")+1, item.lastIndexOf("="));

  if (field_name == 'bot') {
    $('#form').append("<p><div class='g-form__text text-error'>К сожалению, ваши действия очень похожи на действия бота. Попробуйте заполнить форму в более спокойном темпе.</p></div>");
  }
  else if (field_name == 'attachments'){
    $('#form').append("<p><div class='g-form__text text-error'>К сожалению, формат загруженных файлов не поддерживается.</p></div>");
  }
  // $input = $('form').find("input[name='request[" + field_name + "]']");
  // $('form').find('input[name="[request]full_name"]')
  $input = $('form').find('input[name="[request]' + field_name +  '"]');
  $input.parents(".g-input").toggleClass("g-input_error", true);
}
