body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:700px;
  top:5px;
  width:190px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:49px;
  width:180px;
  height:520px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:520px;
}
#u7 {
  position:absolute;
  left:2px;
  top:252px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:16px;
  top:100px;
  width:114px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:16px;
  top:126px;
  width:107px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:8px;
  top:60px;
  width:131px;
  height:11px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:11px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:210px;
  top:98px;
  width:290px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:520px;
  top:98px;
  width:60px;
  height:25px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:700px;
  top:60px;
  width:200px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:776px;
  top:80px;
  width:48px;
  height:32px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:750px;
  top:122px;
  width:100px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:210px;
  top:170px;
  width:690px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u25 {
  position:absolute;
  left:210px;
  top:220px;
  width:96px;
  height:31px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:334px;
  top:220px;
  width:107px;
  height:31px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:571px;
  top:195px;
  width:44px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:810px;
  top:228px;
  width:43px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:470px;
  top:228px;
  width:30px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:565px;
  top:228px;
  width:56px;
  height:15px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:688px;
  top:228px;
  width:39px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:210px;
  top:261px;
  width:690px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u40 {
  position:absolute;
  left:210px;
  top:295px;
  width:43px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:334px;
  top:295px;
  width:67px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:460px;
  top:280px;
  width:63px;
  height:46px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:46px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:546px;
  top:296px;
  width:94px;
  height:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:680px;
  top:296px;
  width:56px;
  height:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:795px;
  top:296px;
  width:73px;
  height:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:210px;
  top:351px;
  width:43px;
  height:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:334px;
  top:351px;
  width:67px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:460px;
  top:336px;
  width:63px;
  height:46px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:46px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:546px;
  top:352px;
  width:94px;
  height:15px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:680px;
  top:352px;
  width:56px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:795px;
  top:352px;
  width:73px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:210px;
  top:407px;
  width:43px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:334px;
  top:407px;
  width:67px;
  height:15px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:460px;
  top:392px;
  width:63px;
  height:46px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:46px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:546px;
  top:408px;
  width:94px;
  height:15px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:680px;
  top:408px;
  width:56px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:795px;
  top:408px;
  width:73px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:210px;
  top:463px;
  width:43px;
  height:15px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u76_img.mouseOver {
}
#u76.mouseOver {
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:334px;
  top:463px;
  width:67px;
  height:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:460px;
  top:448px;
  width:63px;
  height:46px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:46px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:546px;
  top:464px;
  width:94px;
  height:15px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:680px;
  top:464px;
  width:56px;
  height:15px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:795px;
  top:464px;
  width:73px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
