body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:250px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:35px;
  width:107px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:38px;
  top:125px;
  width:80px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:230px;
  top:35px;
  width:230px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:230px;
  top:117px;
  width:230px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:38px;
  top:153px;
  width:80px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:230px;
  top:152px;
  width:230px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:38px;
  top:80px;
  width:135px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:230px;
  top:78px;
  width:230px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
