body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:10px;
  width:275px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:210px;
  top:170px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:210px;
  top:360px;
  width:200px;
  height:100px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:30px;
  top:85px;
  width:66px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:210px;
  top:85px;
  width:200px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:30px;
  top:165px;
  width:141px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:30px;
  top:230px;
  width:114px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:210px;
  top:265px;
  width:90px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:30px;
  top:360px;
  width:116px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:30px;
  top:315px;
  width:127px;
  height:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:210px;
  top:315px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:310px;
  top:490px;
  width:100px;
  height:40px;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:265px;
  width:85px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:305px;
  top:230px;
  width:10px;
  height:60px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u21 {
  position:absolute;
  left:274px;
  top:212px;
  width:86px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:210px;
  top:237px;
  width:86px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:324px;
  top:237px;
  width:86px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:180px;
  top:205px;
  width:270px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:30px;
  top:124px;
  width:78px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:210px;
  top:124px;
  width:70px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:324px;
  top:126px;
  width:86px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
