body {
  margin:0px;
  background-color:rgba(232, 231, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:20px;
  width:353px;
  height:30px;
  font-family:'PTMono-Bold', 'PT Mono Bold', 'PT Mono';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:28px;
  top:75px;
  width:161px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:28px;
  top:110px;
  width:81px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:140px;
  top:105px;
  width:320px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'PTMono-Regular', 'PT Mono';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:90px;
  top:160px;
  width:130px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:250px;
  top:160px;
  width:130px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
