body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:40px;
  width:90px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1_img.selected {
}
#u1.selected {
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u2 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:130px;
  top:40px;
  width:90px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3_img.selected {
}
#u3.selected {
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:230px;
  top:40px;
  width:90px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:330px;
  top:40px;
  width:90px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:430px;
  top:40px;
  width:110px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:550px;
  top:40px;
  width:110px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:670px;
  top:40px;
  width:80px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:760px;
  top:40px;
  width:110px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:900px;
  top:40px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:902px;
  top:42px;
  width:25px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19_img.mouseOver {
  width:35px;
  height:35px;
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:100px;
  width:820px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:803px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:820px;
  height:1px;
}
#u23 {
  position:absolute;
  left:30px;
  top:128px;
  width:213px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:260px;
  top:128px;
  width:235px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:600px;
  top:128px;
  width:146px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:520px;
  top:128px;
  width:51px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:771px;
  top:128px;
  width:189px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:30px;
  top:202px;
  width:488px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:30px;
  top:275px;
  width:66px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:30px;
  top:325px;
  width:25px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:30px;
  top:375px;
  width:44px;
  height:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:30px;
  top:430px;
  width:104px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:30px;
  top:485px;
  width:226px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:318px;
  top:272px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u46 {
  position:absolute;
  left:318px;
  top:372px;
  width:200px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u47 {
  position:absolute;
  left:318px;
  top:426px;
  width:200px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u48 {
  position:absolute;
  left:318px;
  top:483px;
  width:200px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48_input:disabled {
  color:grayText;
}
#u49 {
  position:absolute;
  left:318px;
  top:323px;
  width:200px;
  height:22px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'PTSans-Caption', 'PT Sans Caption';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u49_input:disabled {
  color:grayText;
}
#u50 {
  position:absolute;
  left:418px;
  top:530px;
  width:100px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
