<section class="g-section g-section_how">
    <div class="g-wrapper">
        <h2 class="g-title"><span class="g-title__text">Как мы работаем?</span></h2>
        <h3 class="g-subtitle">В нашем арсенале — два подхода к разработке продуктов:</h3>
        <div class="g-approach-list">
            <div class="g-approach-list__item">
                <h3 class="g-approach-list__title">«Водопад», каскадная&nbsp;модель</h3>
                <p class="g-approach-list__desc">Используем в случае, когда у вас есть понимание, как должен выглядеть готовый  продукт и, возможно, даже ТЗ. Бюджет и сроки при таком подходе — фиксированные, а значит, внесение изменений по ходу проекта невозможно.</p>
                <div class="g-approach-list__wrapper-waterfall">
                    <ol class="g-approach-list__steps g-approach-list__steps_waterfall js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                1
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg" x="0" y="0" width="42" height="42"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Формулируем требования<br>к конечному продукту.</span>
                        </li>
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                2
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Пишем детальное ТЗ<br>(на основе вашего или с нуля).</span>
                        </li>
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                3
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Строим график работ.</span>
                        </li>
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                4
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Работаем по нему.</span>
                        </li>
                    </ol>
                </div>
                <p class="g-approach-list__desc g-approach-list__desc_waterfall">Вы получаете готовый продукт в установленный срок.</p>
            </div>
            <div class="g-approach-list__item">
                <h3 class="g-approach-list__title">Agile, гибкий подход</h3>
                <p class="g-approach-list__desc">
                    Мы строим работу по этой модели, если у вас есть идея, но нет понимания, в каком направлении двигаться для начала ее реализации, и вообще, с чего начать.
                </p>
                <p class="g-approach-list__desc">
                    Поэтому мы итеративно, по шагам разрабатываем веб- продукт. Подход подразумевает возможность пересмотра функционала «на лету». Поэтому, бюджет при таком подходе гибкий, также как и сроки реализации.
                </p>
                <div class="g-approach-list__wrapper-agile">
                    <ol class="g-approach-list__steps g-approach-list__steps_agile js-animation js-animation_mobile js-animation_tablet" data-animation-delay="600ms">
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                1
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Описываем минимальные требования<br>к готовому продукту.</span>
                        </li>
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                2
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Создаем прототип.</span>
                        </li>
                        <li class="g-approach-list__step">
                            <span class="g-approach-list__counter">
                                3
                                <svg class="g-approach-list__counter-bg">
                                    <use xlink:href="#ic-counter-bg"></use>
                                </svg>
                            </span>
                            <span class="g-approach-list__text">Работаем итерациями, <br class="g-mobile">демонстрируем <br class="g-mobile-hide">результат <br class="g-mobile">каждые 2 недели.</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>