body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:342px;
  top:10px;
  width:180px;
  height:90px;
  opacity:0.449999988079071;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:90px;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
  opacity:1;
}
#u2 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:521px;
  top:10px;
  width:180px;
  height:90px;
  opacity:0.449999988079071;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:90px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
  opacity:1;
}
#u4 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:150px;
  width:860px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u6 {
  position:absolute;
  left:20px;
  top:10px;
  width:160px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:700px;
  top:10px;
  width:180px;
  height:90px;
  opacity:0.449999988079071;
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:90px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
  opacity:1;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:720px;
  top:80px;
  width:200px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:50px;
  width:140px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:180px;
  width:640px;
  height:42px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:42px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:70px;
  top:370px;
  width:110px;
  height:201px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:201px;
}
#u18 {
  position:absolute;
  left:2px;
  top:92px;
  width:106px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:260px;
  width:10px;
  height:310px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:293px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:310px;
}
#u20 {
  position:absolute;
  left:25px;
  top:565px;
  width:855px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:838px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:855px;
  height:1px;
}
#u21 {
  position:absolute;
  left:20px;
  top:245px;
  width:108px;
  height:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:436px;
  top:585px;
  width:118px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:210px;
  top:460px;
  width:110px;
  height:111px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:111px;
}
#u26 {
  position:absolute;
  left:2px;
  top:38px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:350px;
  top:530px;
  width:110px;
  height:41px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:27px;
  top:365px;
  width:15px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:30px;
  top:460px;
  width:15px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:30px;
  top:530px;
  width:8px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:60px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:500px;
  top:300px;
  width:110px;
  height:271px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:271px;
}
#u36 {
  position:absolute;
  left:2px;
  top:118px;
  width:106px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:300px;
  width:15px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:680px;
  width:207px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:750px;
  width:860px;
  height:345px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:345px;
}
#u42 {
  position:absolute;
  left:2px;
  top:164px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:1138px;
  width:115px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:20px;
  top:1200px;
  width:860px;
  height:130px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:130px;
}
#u46 {
  position:absolute;
  left:2px;
  top:57px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:37px;
  top:1218px;
  width:71px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:329px;
  top:1218px;
  width:52px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:620px;
  top:1218px;
  width:68px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
