%main.main
  %section.section.section_first.banner.banner_attract.banner_content_center
    %span.banner__bg{:style => "background-image: url(img/services/attract/banner.jpg);"}
    .section__wrp.banner__wrp
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          Привлечение клиентов
        .banner__line
          %svg{:viewbox => "0 0 47 4", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          Приводим покупателей в ваш бизнес из социальных сетей и 
          %nobr офлайн-среды
  %section.section.attract-promo
    .section__wrp.attract-promo__wrp
      .section__header.attract-promo__header
        %h2.section__heading.heading.heading_type_h4.attract-promo__heading
          Как мы привлекаем покупателей из соцсетей
        .attract-promo__caption.caption.caption_size_g
          Социальные сети содержат огромное количество информации о потенциальных покупателях, и мы знаем, как это можно использовать для успеха вашего бизнеса.
      .section__body.attract-promo__body
        .attract-promo__box-list
          .attract-promo__box.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
            .attract-promo__box-header
              %h3.attract-promo__box-heading.heading.heading_type_h5-s
                Целевой трафик
              .attract-promo__box-caption.caption.caption_size_g
                Развиваем сообщества бренда в соцсетях при помощи качественного контента, вовлекающих активаций и других маркетинговых инструментов.
            .attract-promo__box-body.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .attract-promo__box-title
                Результат
              .attract-promo__icon-col.icon-col.icon-col_promo.icon-col_border
                .icon-col__list.icon-col__list_grid-three
                  .icon-col__item.attract-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
                    .icon-col__img-wrp.js-tilter
                      %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/promo/1.svg"}/
                      %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/promo/1_bg.svg"}/
                    .icon-col__text
                      .icon-col__caption.caption.caption_size_g
                        Рост известности бренда
                  .icon-col__item.attract-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
                    .icon-col__img-wrp.js-tilter
                      %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/promo/2.svg"}/
                      %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/promo/2_bg.svg"}/
                    .icon-col__text
                      .icon-col__caption.caption.caption_size_g
                        Лояльность пользователей
                  .icon-col__item.attract-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms"}
                    .icon-col__img-wrp.js-tilter
                      %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/promo/3.svg"}/
                      %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/promo/3_bg.svg"}/
                    .icon-col__text
                      .icon-col__caption.caption.caption_size_g
                        Переходы на сайт
          .attract-promo__box.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
            .attract-promo__box-header
              %h3.attract-promo__box-heading.heading.heading_type_h5-s
                Работа с воронкой продаж в SMM
              .attract-promo__box-caption.caption.caption_size_g
                Находим пользователей, побывавших на сайте компании, в социальных сетях и приводим их к совершению покупки.
            .attract-promo__box-body
              .attract-promo__icon-col.icon-col.icon-col_promo.icon-col_border
                .icon-col__list.icon-col__list_grid-three
                  .icon-col__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
                    .icon-col__title.heading.heading_type_h5-s
                      Привлечение
                    .icon-col__text
                      .icon-col__caption.caption.caption_size_s
                        Привлекаем посетителей на сайт
                  .icon-col__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
                    .icon-col__title.heading.heading_type_h5-s
                      Удержание
                    .icon-col__text
                      .icon-col__caption.caption.caption_size_s
                        Собираем информацию о них
                      %ul.icon-col__dot-list.dot-list.dot-list_text_s
                        %li.dot-list__item
                          .dot-list__caption
                            Приводим пользователя к оставлению контактов на сайте с помощью специально разработанных сценариев
                        %li.dot-list__item
                          .dot-list__caption
                            Отслеживаем историю посещений и просмотра товаров
                  .icon-col__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms"}
                    .icon-col__title.heading.heading_type_h5-s
                      Конверсия
                    .icon-col__text
                      .icon-col__caption.caption.caption_size_s
                        Находим в соцсетях пользователей, побывавших на сайте, и точечно работаем с ними до совершения покупки.
            .attract-promo__box-footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .attract-promo__box-title
                Результат
              .attract-promo__box-caption.caption.caption_size_g
                Если у пользователя был хотя бы один контакт с вашим продуктом, велика вероятность того, что он станет вашим клиентом
  %section.section.section_pad_large.section_green_light.attract-why
    .section__wrp.attract-why__wrp
      .section__header.section__header_compensate.attract-why__header
        %h2.section__heading.heading.heading_type_h2.attract-why__heading
          %span.section__heading-text Почему мы?
      .section__body.attract-why__body
        .attract-why__num-col.num-col.num-col_clear.js-slider-num-col
          .num-col__list
            .num-col__item.attract-why__item.js-animation.js-animation_bounceIn{"data-animation-delay" => "0"}
              .num-col__img-wrp.js-tilter
                %img.num-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/why/1.svg"}/
                %img.num-col__icons.tilter__deco--lines{:alt => "attract", :src => "img/services/attract/why/1_1.svg"}/
              .num-col__text
                .num-col__title.heading.heading_type_h5-s
                  постоянных клиентов
            .num-col__item.attract-why__item.js-animation.js-animation_bounceIn{"data-animation-delay" => "400ms"}
              .num-col__img-wrp.js-tilter
                %img.num-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/why/2.svg"}/
                %img.num-col__icons.tilter__deco--lines{:alt => "attract", :src => "img/services/attract/why/2_1.svg"}/
              .num-col__text
                .num-col__title.heading.heading_type_h5-s
                  успешно выполненных проектов
            .num-col__item.attract-why__item.js-animation.js-animation_bounceIn{"data-animation-delay" => "800ms"}
              .num-col__img-wrp.js-tilter
                %img.num-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/why/3.svg"}/
                %img.num-col__icons.tilter__deco--lines{:alt => "attract", :src => "img/services/attract/why/3_1.svg"}/
              .num-col__text
                .num-col__title.heading.heading_type_h5-s
                  благодарственных писем ОТ КЛИЕНТОВ
          .num-col__dots.js-slider-num-col-dots
  %section.section.attract-how
    .section__wrp.attract-how__wrp
      .section__header.section__header_compensate.attract-how__header
        %h2.section__heading.attract-how__heading.heading.heading_type_h2
          Как мы приводим клиентов из офлайна
      .section__body.attract-how__body
        .attract-how__icon-col.icon-col.icon-col_clear.icon-col_border.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-four
            .icon-col__item.attract-how__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/how/1.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/how/1_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Организовываем мероприятия, коллаборации, выставки, показы
            .icon-col__item.attract-how__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/how/2.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/how/2_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Собираем личную информацию потенциальных клиентов
            .icon-col__item.attract-how__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "800ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/how/3.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/how/3_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Конвертируем эту базу
                  %br/
                  в 
                  %nobr онлайн-лиды
            .icon-col__item.attract-how__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "1200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/how/4.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/how/4_bg.svg"}/
              .icon-col__text
                .icon-col__caption.caption.caption_size_g
                  Приводим к сделке
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_large.section_green_light.attract-pluses
    .section__wrp.attract-pluses__wrp
      .section__header.section__header_compensate.attract-pluses__header
        %h2.section__heading.heading.heading_type_h2.attract-pluses__heading
          %span.section__heading-text НАШИ ПРЕИМУЩЕСТВА
      .section__body.attract-pluses__body
        .attract-pluses__icon-col.icon-col.icon-col_x-large.icon-col_transp.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.attract-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/pluses/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "attract", :src => "img/services/attract/pluses/1_1.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/pluses/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Работа на результат
                .icon-col__caption.caption.caption_size_s
                  Инструменты второстепенны.
                  %br/
                  Наша цель — рост продаж у клиента.
            .icon-col__item.attract-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/pluses/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "attract", :src => "img/services/attract/pluses/2_1.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/pluses/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Продуманные решения
                .icon-col__caption.caption.caption_size_s
                  Ищем подход к каждому рынку и продукту, чтобы достичь максимума.
            .icon-col__item.attract-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "attract", :src => "img/services/attract/pluses/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "attract", :src => "img/services/attract/pluses/3_1.svg"}/
                %img.icon-col__bg{:alt => "attract", :src => "img/services/attract/pluses/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Постоянное сотрудничество
                .icon-col__caption.caption.caption_size_s
                  Чем дольше мы с клиентом, тем больше эффект от нашей работы.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.green-banner.green-banner_attract
    %span.green-banner__bg{:style => "background-image: url(img/services/attract/green.jpg);"}
    .section__wrp.green-banner__wrp
      %h2.green-banner__heading.section__heading.heading.heading_type_h2
        %span.section__heading-text
          Обсудим проект?
      .green-banner__buttons
        %a.green-banner__button.button.button_theme_accent.button_size_l.js-popup{:href => "javascript:void(0);"}
          Напишите нам
