body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:30px;
  width:94px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:130px;
  top:24px;
  width:160px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:75px;
  width:300px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
