.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tariffs {
  margin: 0 auto;
  text-align: center;
  width: 850px;
  position: relative;
  /*.triff-medium {
    background: lighten(#cbd7ed, 10%);
    margin: 91px 0 100px;
    height: 530px;
    .border-radius(10px);
    border: 5px solid #cbd7ed;
    z-index: 1;
    &:hover {
      border-color: darken(#cbd7ed, 10%);
    }
    h1 {
      color: #5d7cb3;
      font: 100 48px/48px  Roboto, sans-serif;;
    }
    p {
      font-size: 15px;
    }
    span {
      color: #cfdbef;
      font-size: 15px;
      margin-bottom: 19PX;
    }
    .commission {
      color: #87a5d6;
      margin: 25px 0 0;
      b {
        color: #5d7cb3;
      }
    }
    .triff-price {
      bottom: -38px;
    }
    a {
      background: #7090c7;
      bottom: -74px;
      &:hover {
        background: lighten(#7090c7, 10%);
      }
    }
    &:before {
      content: "Самый выгодный тариф";
      display: inline-block;
      border-radius: 50%;
      background-color: #73c598;
      width: 90px;
      height: 66px;
      position: absolute;
      right: 15px;
      top: -47px;
      font: 13px/14px  MuseoSansCyrl700, sans-serif;
      color: #ffffff;
      padding: 24px 0 0;
      -webkit-box-shadow: 0 0 0 4.5px rgba(115, 197, 152, 0.5);
      -moz-box-shadow: 0 0 0 4.5px rgba(115, 197, 152, 0.5);
      box-shadow: 0 0 0 4.5px rgba(115, 197, 152, 0.5);
    }
  }*/
}
.tariffs .account-number {
  color: #333333;
  font: 300 27px/18px Roboto, sans-serif;
}
.tariffs > p {
  color: #313131;
  font: 13px/18px MuseoSansCyrl300, sans-serif;
  margin-top: 16px;
}
.tariffs div {
  width: 290px;
  height: 490px;
  position: relative;
  display: inline-block;
}
.tariffs div h1 {
  margin: 42px 0 0 0;
  font: 100 42px/42px Roboto, sans-serif;
}
.tariffs div span {
  display: inline-block;
  font: 13px MuseoSansCyrl500, sans-serif;
  margin: 21px 0 11px;
}
.tariffs div p {
  font: 13px/24px MuseoSansCyrl500, sans-serif;
  color: #323232;
}
.tariffs div .commission {
  margin: 15px 0 0;
}
.tariffs div .triff-price {
  color: #313131;
  position: relative;
  bottom: -90px;
}
.tariffs div a {
  display: inline-block;
  width: 190px;
  position: relative;
  bottom: -110px;
  text-decoration: none;
  font: 13px/40px MuseoSansCyrl500, sans-serif;
  color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.tariffs .triff-base {
  background-color: #f9f8fd;
  margin: 111px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #e7ecf5;
  vertical-align: top;
}
.tariffs .triff-base:hover {
  border-color: #c3d0e6;
}
.tariffs .triff-base h1 {
  color: #a09db7;
}
.tariffs .triff-base span {
  color: #d0cee1;
}
.tariffs .triff-base .commission {
  color: #9997aa;
}
.tariffs .triff-base .commission b {
  color: #807d94;
}
.tariffs .triff-base a {
  background: #d0cee1;
}
.tariffs .triff-base a:hover {
  background: #b2aece;
}
.tariffs .triff-platinum {
  background: #f8fcfa;
  margin: 111px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #9ed7b8;
}
.tariffs .triff-platinum:hover {
  border-color: #7ac89e;
}
.tariffs .triff-platinum h1 {
  color: #3eaf71;
}
.tariffs .triff-platinum span {
  color: #9ed7b8;
}
.tariffs .triff-platinum .commission {
  color: #79ca9e;
}
.tariffs .triff-platinum .commission b {
  color: #3eaf71;
}
.tariffs .triff-platinum .triff-price {
  bottom: -66px;
}
.tariffs .triff-platinum a {
  background: #3eaf71;
  bottom: -86px;
}
.tariffs .triff-platinum a:hover {
  background: #66c993;
}
.transaction-year {
  margin: 0 auto;
  text-align: center;
  width: 850px;
  position: relative;
}
.transaction-year h1 {
  color: #333;
  font: 300 27px/18px Roboto, sans-serif;
}
.transaction-year table {
  margin: 0 auto;
  font: 12px/40px MuseoSansCyrl300, sans-serif;
  color: #393939;
}
.transaction-year .main-table {
  width: 630px;
  margin: 50px 0 0;
}
.transaction-year .main-table > tr {
  border-bottom: 1px dotted #d6d4e5;
}
.transaction-year .main-table > tr:first-child {
  background-color: #7090c7;
  height: 20px;
  font: 11px/18px MuseoSansCyrl300, sans-serif;
  color: #fff;
}
.transaction-year .main-table > tr td {
  width: 100%;
}
.transaction-year .table-header {
  width: 100%;
  background-color: #7090c7;
  font: 11px/20px MuseoSansCyrl700, sans-serif !important;
  color: #fff !important;
  height: 20px;
}
.transaction-year .table-header td {
  width: 209px;
}
.transaction-year .table-month {
  width: 100%;
  border-left: 1px solid #d6d4e5;
  border-right: 1px solid #d6d4e5;
}
.transaction-year .table-month thead {
  background: #f1f4fa;
  cursor: pointer;
}
.transaction-year .table-month thead:hover {
  background: #f7fffb;
}
.transaction-year .table-month thead:hover td {
  width: 209px;
}
.transaction-year .table-month thead:hover td:nth-of-type(2) {
  background: #f7fffb;
  border-left: 1px solid #f7fffb;
  border-right: 1px solid #f7fffb;
}
.transaction-year .table-month td {
  width: 209px;
}
.transaction-year .table-month td:nth-of-type(2) {
  background: #f9f8fd;
  border-left: 1px solid #d6d4e5;
  border-right: 1px solid #d6d4e5;
}
.transaction-year .table-month tr {
  border-bottom: 1px dotted #d6d4e5;
}
.transaction-year .table-month tbody {
  display: none;
}
.transaction-year .table-month tbody td:nth-of-type(2) {
  background: #fefeff;
}
.transaction-year .table-month tbody tr:hover {
  background: #fbfafe;
  cursor: pointer;
}
.transaction-year .table-month tbody tr:hover td:nth-of-type(2) {
  background: #fbfafe;
  border-left: 1px solid #fbfafe;
  border-right: 1px solid #fbfafe;
}
.transaction-year .table-month .thead-active {
  background: #f7fffb;
}
.transaction-year .table-month .thead-active td {
  width: 209px;
}
.transaction-year .table-month .thead-active td:nth-of-type(2) {
  background: #f7fffb;
  border-left: 1px solid #f7fffb;
  border-right: 1px solid #f7fffb;
}
.transaction-year a {
  display: inline-block;
  margin: 20px 5px 0;
  color: #393939;
  width: 53px;
  font: 12px/30px MuseoSansCyrl300, sans-serif;
}
.transaction-year a.active-year {
  background-color: #def0ea;
  border-radius: 15px;
}
.transaction-day {
  margin: 0 auto;
  text-align: center;
  width: 850px;
  position: relative;
  display: none;
}
.transaction-day h1 {
  color: #333;
  font: 300 27px/18px Roboto, sans-serif;
}
.transaction-day .table-day {
  width: 100%;
  margin: 50px auto 0;
  font: 12px/40px MuseoSansCyrl300, sans-serif;
  color: #393939;
}
.transaction-day .table-day tr {
  border-bottom: 1px dotted #d6d4e5;
}
.transaction-day .table-day tr:last-child {
  border-style: solid;
}
.transaction-day .table-day td {
  border-left: 1px solid #d6d4e5;
  border-right: 1px solid #d6d4e5;
}
.transaction-day .table-day td:nth-of-type(even) {
  background: #f9f8fd;
}
.transaction-day .table-day .table-header {
  background-color: #7090c7;
  font: 11px/20px MuseoSansCyrl700, sans-serif;
  color: #fff;
  height: 20px;
  border-left: 1px solid #7090c7;
  border-right: 1px solid #7090c7;
  border-bottom: none;
}
.transaction-day .table-day .this-day {
  background: #f7fffb;
}
.transaction-day .table-day .this-day td {
  border-left: 1px solid #f7fffb;
  border-right: 1px solid #f7fffb;
  background: none;
}
.transaction-day .table-day .this-day td:first-child {
  border-left: 1px solid #d6d4e5;
}
.transaction-day .table-day .this-day td:last-child {
  border-right: 1px solid #d6d4e5;
}
.transaction-day .table-day .this-day a {
  border-bottom: 1px dotted;
}
.requisites {
  margin: 0 auto;
  text-align: center;
  width: 850px;
  position: relative;
}
.requisites h1 {
  color: #333;
  font: 300 27px/18px Roboto, sans-serif;
}
.requisites h2 {
  color: #333;
  text-align: center;
  margin-top: 49px;
  font: 300 23px/18px Roboto, sans-serif;
}
.requisites h2:first-of-type {
  cursor: pointer;
}
.requisites .requisites-form,
.requisites .requisites-done {
  width: 100%;
  margin: 5px auto 0;
  font: 12px/40px MuseoSansCyrl300, sans-serif;
  color: #393939;
  text-align: left;
}
.requisites .requisites-form .form-part-1,
.requisites .requisites-done .form-part-1 {
  width: 100%;
}
.requisites .requisites-form .form-part-1 tr,
.requisites .requisites-done .form-part-1 tr {
  border-top: 1px dotted #d6d4e5;
}
.requisites .requisites-form .form-part-1 tr:nth-of-type(odd),
.requisites .requisites-done .form-part-1 tr:nth-of-type(odd) {
  background-color: #f9f8fd;
}
.requisites .requisites-form .form-part-1 td,
.requisites .requisites-done .form-part-1 td {
  padding: 0 15px;
}
.requisites .requisites-form .form-part-1 td:nth-of-type(1),
.requisites .requisites-done .form-part-1 td:nth-of-type(1) {
  width: 80px;
}
.requisites .requisites-form .form-part-1 td:nth-of-type(3),
.requisites .requisites-done .form-part-1 td:nth-of-type(3) {
  width: 145px;
}
.requisites .requisites-form .form-part-1 td label,
.requisites .requisites-done .form-part-1 td label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #5f5f5f;
}
.requisites .requisites-form .form-part-1 td input,
.requisites .requisites-done .form-part-1 td input {
  width: 100%;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  border: none;
  background: transparent;
}
.requisites .requisites-form .form-part-1 td #org-name,
.requisites .requisites-done .form-part-1 td #org-name {
  width: 77%;
}
.requisites .requisites-form .form-part-1 td .dropdown,
.requisites .requisites-done .form-part-1 td .dropdown {
  width: 62px;
  margin: 0;
  display: inline-block;
}
.requisites .requisites-form .form-part-1 td .dropdown dt a,
.requisites .requisites-done .form-part-1 td .dropdown dt a {
  text-decoration: none;
}
.requisites .requisites-form .form-part-1 td .dropdown dt span,
.requisites .requisites-done .form-part-1 td .dropdown dt span {
  display: block;
  background: #f3f2f9 url(../images/selectbg.png) no-repeat scroll 91% 17px;
  cursor: pointer;
  width: 52px;
  padding: 0 0 0 10px;
  color: #414040;
  font: 11px/40px "MuseoSansCyrl500", sans-serif;
}
.requisites .requisites-form .form-part-1 td .dropdown dd,
.requisites .requisites-done .form-part-1 td .dropdown dd {
  position: relative;
}
.requisites .requisites-form .form-part-1 td .dropdown dd ul,
.requisites .requisites-done .form-part-1 td .dropdown dd ul {
  display: none;
  position: absolute;
  width: 62px;
  list-style: none;
  background: #F3F2F9 none repeat scroll 0 0;
  z-index: 99;
}
.requisites .requisites-form .form-part-1 td .dropdown dd li a,
.requisites .requisites-done .form-part-1 td .dropdown dd li a {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  text-decoration: none;
  color: #b1b1b1;
  font: 11px/40px "MuseoSansCyrl500", sans-serif;
}
.requisites .requisites-form .form-part-1 td .dropdown dd li a:hover,
.requisites .requisites-done .form-part-1 td .dropdown dd li a:hover {
  color: #3eaf71;
  cursor: pointer;
}
.requisites .requisites-form .form-part-2,
.requisites .requisites-done .form-part-2 {
  width: 100%;
}
.requisites .requisites-form .form-part-2 tr,
.requisites .requisites-done .form-part-2 tr {
  border-top: 1px dotted #d6d4e5;
}
.requisites .requisites-form .form-part-2 tr:nth-of-type(even),
.requisites .requisites-done .form-part-2 tr:nth-of-type(even) {
  background-color: #f9f8fd;
}
.requisites .requisites-form .form-part-2 tr:last-of-type,
.requisites .requisites-done .form-part-2 tr:last-of-type {
  border-bottom: 1px dotted #d6d4e5;
}
.requisites .requisites-form .form-part-2 tr:nth-of-type(2) td:nth-of-type(6),
.requisites .requisites-done .form-part-2 tr:nth-of-type(2) td:nth-of-type(6) {
  width: 58px;
}
.requisites .requisites-form .form-part-2 td,
.requisites .requisites-done .form-part-2 td {
  padding: 0 10px;
  color: #5f5f5f;
  border: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.requisites .requisites-form .form-part-2 td label,
.requisites .requisites-done .form-part-2 td label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #b1b1b1;
}
.requisites .requisites-form .form-part-2 td input,
.requisites .requisites-done .form-part-2 td input {
  width: 100%;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  border: none;
  background: transparent;
}
.requisites .requisites-form .form-part-2 td:nth-of-type(1),
.requisites .requisites-done .form-part-2 td:nth-of-type(1) {
  width: 124px;
  padding: 0 15px;
}
.requisites .requisites-form .form-part-2 td:nth-of-type(1) label,
.requisites .requisites-done .form-part-2 td:nth-of-type(1) label {
  color: #5f5f5f;
}
.requisites .requisites-form .form-part-2 td:nth-of-type(2),
.requisites .requisites-done .form-part-2 td:nth-of-type(2) {
  width: 43px;
}
.requisites .requisites-form .form-part-2 td:last-of-type,
.requisites .requisites-done .form-part-2 td:last-of-type {
  width: 175px;
}
.requisites .requisites-form .form-part-2 td .tooltip-info,
.requisites .requisites-done .form-part-2 td .tooltip-info {
  display: inline-block;
  background-color: #7090c7;
  width: 17px;
  border-radius: 50%;
  font: 11px/17px "MuseoSansCyrl500", sans-serif;
  color: #fff;
  text-align: center;
  padding: 0;
}
.requisites .requisites-done .form-part-1 {
  margin: 0 0 20px 0;
}
.requisites .requisites-done .form-part-1 td:nth-of-type(odd) {
  font: 12px/40px MuseoSansCyrl300, sans-serif;
  color: #393939;
}
.requisites .requisites-done .form-part-1 td:nth-of-type(even) {
  font: 12px/40px MuseoSansCyrl500, sans-serif;
  color: #393939;
}
.requisites .requisites-done .form-part-1 td:first-of-type {
  width: 110px;
}
.requisites .requisites-done .form-part-1 td:first-of-type .tooltip-info {
  display: inline-block;
  background-color: #7090c7;
  width: 17px;
  border-radius: 50%;
  font: 11px/17px "MuseoSansCyrl500", sans-serif;
  color: #fff;
  text-align: center;
  padding: 0;
}
.requisites .requisites-done .form-part-1 td a {
  color: #4e6a9b;
  text-decoration: none;
  cursor: pointer;
}
.requisites p {
  font: 12px/5px MuseoSansCyrl300, sans-serif;
  color: #9f9999;
}
.requisites .other-requisites {
  text-align: left;
  margin-top: 20px;
}
.requisites .other-requisites form {
  float: none;
}
.requisites .other-requisites label {
  color: #393939;
  display: inline-block;
  width: 150px;
  font: 300 13px/40px Roboto, sans-serif;
  cursor: pointer;
}
.requisites .other-requisites input {
  margin: 5.5px 0;
  background-color: #f9f8fd;
  width: 360px;
  color: #323232;
  border: 2px solid #f3f2f9;
  border-radius: 20px;
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  font: 300 13px/40px Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.requisites .other-requisites #requisite-tel,
.requisites .other-requisites #requisite-fax {
  background: #f9f8fd url(../images/Rectangle.svg) no-repeat left;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  padding-left: 50px;
}
.requisites .other-requisites .add-requisite-field {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../images/add.svg) no-repeat center;
  cursor: pointer;
  position: relative;
  top: 3px;
  margin-left: 10px;
}
.requisites .other-requisites .add-requisite-field:hover {
  background: url(../images/add_hover.svg) no-repeat center;
}
.requisites .other-requisites .remove-requsite {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #ffffff url(../images/close.png);
  border: none;
  cursor: pointer;
  position: relative;
  top: -4px;
  margin-left: 13px;
}
.requisites .other-requisites ul {
  margin: 30px 0;
  font: 300 13px/40px Roboto, sans-serif;
  color: #393939;
}
.requisites .other-requisites ul li {
  list-style: disc;
  color: #d0cee1;
  padding-left: 22px;
  margin-left: 10px;
}
.requisites .other-requisites ul li label {
  width: 118px;
}
.requisites .other-requisites ul li #actual-index,
.requisites .other-requisites ul li #shipping-index {
  width: 120px;
}
.requisites .other-requisites input[type=button] {
  width: 180px;
  display: inline-block;
  font: 13px/40px MuseoSansCyrl700, sans-serif;
  color: #fff;
  border-right: 20px;
  background: #7090c7;
  border: none;
  margin-left: 330px;
}
.requisites .other-requisites input[type=button]:hover {
  background: #86a3d5;
}
.documents {
  margin: 0 auto;
  text-align: center;
  width: 850px;
  position: relative;
}
.documents h1 {
  color: #333;
  font: 300 27px/18px Roboto, sans-serif;
}
.documents p {
  color: #313131;
  margin: 44px 0 27px;
  font: 12px/12px "MuseoSansCyrl300", sans-serif;
  text-align: left;
}
.documents .select-period {
  text-align: left;
}
.documents .select-period .dropdown {
  width: 162px;
  margin: 0 20px 0 0;
  display: inline-block;
}
.documents .select-period .dropdown dt a {
  text-decoration: none;
}
.documents .select-period .dropdown dt span {
  display: block;
  background: #f3f2f9 url(../images/selectbg.png) no-repeat scroll 91% 12px;
  cursor: pointer;
  width: 155px;
  padding: 0 0 0 15px;
  color: #323232;
  font: 400 13px/32px Roboto, sans-serif;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.documents .select-period .dropdown dd {
  position: relative;
}
.documents .select-period .dropdown dd ul {
  display: none;
  position: absolute;
  width: 140px;
  list-style: none;
  background: #F3F2F9 none repeat scroll 0 0;
  z-index: 99;
  left: 12px;
}
.documents .select-period .dropdown dd li a {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  text-decoration: none;
  color: #b1b1b1;
  font: 11px/40px "MuseoSansCyrl500", sans-serif;
}
.documents .select-period .dropdown dd li a:hover {
  color: #3eaf71;
  cursor: pointer;
}
.documents .select-period label {
  color: #9996b2;
}
.documents .select-period input {
  color: #323232;
  font: 400 13px/30px Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.documents .select-period input[type=text] {
  width: 135px;
  background: #f3f2f9 url(../images/selectbg.png) no-repeat scroll 91% 12px;
  padding-left: 15px;
  margin: 0 5px;
}
.documents .select-period input[type=button] {
  background: #7090c7;
  width: 105px;
  color: #fff;
  margin: 0 10px;
  font: 13px/30px "MuseoSansCyrl700", sans-serif;
}
.documents .select-period input[type=button]:hover {
  background: #86a3d5;
}
.documents .select-period .clear-time-period {
  color: #9996b2;
  font: 12px/30px "MuseoSansCyrl300", sans-serif;
}
.documents .select-period .clear-time-period svg {
  position: relative;
  top: 2px;
  left: 5px;
}
.documents .select-period .clear-time-period:hover {
  color: #3eaf71;
  cursor: pointer;
}
.documents .select-period .clear-time-period:hover path {
  fill: #3eaf71;
}
.documents .main-table {
  width: 850px;
  margin: 30px 0 0;
}
.documents .table-header {
  width: 100%;
  background-color: #7090c7;
  font: 11px/20px MuseoSansCyrl700, sans-serif !important;
  color: #fff !important;
  height: 20px;
}
.documents .table-header td {
  width: 33%;
}
.documents .table-header td:first-of-type {
  text-align: left;
  padding-left: 65px;
}
.documents .table-header td:last-of-type {
  text-align: right;
  padding-right: 25px;
}
.documents .table-docs {
  border: 1px solid #d6d4e5;
  width: 100%;
  font: 12px/40px MuseoSansCyrl300, sans-serif;
  color: #393939;
}
.documents .table-docs tr {
  border-bottom: 1px dotted #d6d4e5;
}
.documents .table-docs tr td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding-left: 24px;
  border-left: 1px solid #d6d4e5;
  border-right: 1px solid #d6d4e5;
}
.documents .table-docs tr td:first-of-type,
.documents .table-docs tr td:last-of-type {
  background: #f9f8fd;
  width: 152px;
}
.documents .table-docs tr td:last-of-type {
  width: 110px;
}
.documents .table-docs tr td a {
  color: #393939;
}
.documents .table-docs tr:hover {
  background: #f7fffb;
}
.documents .table-docs tr:hover td {
  background: #f7fffb;
  border-left: 1px solid #f7fffb;
  border-right: 1px solid #f7fffb;
}
.documents .table-docs tr:hover td:first-of-type {
  border-left: 1px solid #d6d4e5;
}
.documents .table-docs tr:hover td:last-of-type {
  border-right: 1px solid #d6d4e5;
}
.documents .table-docs tr:hover td a {
  color: #4e6a9b;
}
.modal-change-requisites {
  width: 420px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #fff;
}
.modal-change-requisites h4 {
  display: inline-block;
  margin: 24px 0 29px 31px;
  color: #323232;
  font: 400 15px/18px 'Roboto', sans-serif;
  border-bottom: 3px solid #3eaf71;
}
.modal-change-requisites #close {
  color: #3eaf71;
  font: 700 30px 'Verdana', sans-serif;
  top: 14px;
  position: absolute;
  right: 31px;
  cursor: pointer;
}
.modal-change-requisites .field {
  width: 100%;
  border-top: 1px dotted #d0cee1;
  border-bottom: 1px solid transparent;
}
.modal-change-requisites .field textarea {
  width: 360px;
  margin: 29px 30px;
  resize: none;
  min-height: 150px;
  border: none;
  font: 12px 'MuseoSansCyrl300', sans-serif;
}
.modal-change-requisites button {
  background-color: #3eaf71;
  width: 100%;
  height: 60px;
  border: none;
  font: 13px 'MuseoSansCyrl700', sans-serif;
  color: #fff;
  cursor: pointer;
}
.modal-change-requisites button:hover {
  background: #4cbd7f;
}
