.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.a-botton-style {
  font-family: 'MuseoSansCyrl700', sans-serif;
  text-align: center;
  color: #fff;
  width: 170px;
  height: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  line-height: 40px;
}
.block-style {
  padding: 40px 8.579%;
  /*9.615384615%;*/
  text-align: center;
  margin: 0 0 2px 0;
}
.p-style {
  font: 1em 'MuseoSansCyrl300', sans-serif;
  color: #5a5a5a;
  text-align: center;
  padding: 26px 1.923076923%;
}
.h2-style {
  font: 300 2.25em/1.2em 'Roboto', sans-serif;
  color: #323232;
  text-align: center;
  padding: 0 0 24px 0;
}
.block2-icon {
  text-decoration: none;
  display: inline-block;
  color: white;
  vertical-align: middle;
  font-size: 2.333333333em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #cbd7ed;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.block2-icon:hover {
  background: #7090C7;
}
.block2-icon:before {
  font-size: 0.571428571em;
}
.settings .icon-Settings:before {
  content: "\e606";
}
.searchArea {
  width: auto;
  height: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgba(112, 144, 199, 0) url(../images/no.svg) no-repeat right -30px center;
  background-size: 17px;
  font: 12px/36px 'MuseoSansCyrl300', sans-serif;
  padding: 0 32px 0 19.5px;
  color: #9996b2;
  vertical-align: middle;
  border: 2px solid #f3f2f9;
  -webkit-appearance: none;
  margin-top: -1px;
  transition: background 0.4s;
}
.searchArea:focus {
  outline: none;
  border: 2px solid #d1cfe1;
  background-size: 17px;
  color: #323232;
}
.lineBlock {
  display: inline-block;
  width: 95%;
  padding: 0;
  background: #f9f8fd;
  border-left: 7px solid #e0c6e2;
  margin: 5px 20px;
}
.lineBlock div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 19px 20px;
}
.lineBlock div p {
  font: 400 17px 'Roboto', sans-serif;
  color: #323232;
}
.lineBlock div span {
  font: 12px 'MuseoSansCyrl300', sans-serif;
  color: #393939;
}
.lineBlock:hover {
  background: #f3f2f9;
}
.comeClientMixin {
  border-left: 7px solid;
}
.comeClientMixin .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.heir {
  border-left: 7px solid;
  border-color: #e0c6e2;
}
.heir .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.heir .icon-heir:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.heir .icon-heir:before {
  content: "\e610";
  color: #e0c6e2;
}
.face {
  border-left: 7px solid;
  border-color: #d4db96;
}
.face .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.face .icon-face:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.face .icon-face:before {
  content: "\e60f";
  color: #d4db96;
}
.body {
  border-left: 7px solid;
  border-color: #fbb6ba;
}
.body .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.body .icon-body:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.body .icon-body:before {
  content: "\e60e";
  color: #fbb6ba;
}
.nails {
  border-left: 7px solid;
  border-color: #b4c5e2;
}
.nails .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.nails .icon-nails:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.nails .icon-nails:before {
  content: "\e612";
  color: #b4c5e2;
}
.sun {
  border-left: 7px solid;
  border-color: #b4e0a1;
}
.sun .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.sun .icon-sun:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.sun .icon-sun:before {
  content: "\e614";
  color: #b4e0a1;
}
.wax {
  border-left: 7px solid;
  border-color: #ffc698;
}
.wax .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.wax .icon-wax:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.wax .icon-wax:before {
  content: "\e615";
  color: #ffc698;
}
.massage {
  border-left: 7px solid;
  border-color: #a5ded1;
}
.massage .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.massage .icon-massage:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.massage .icon-massage:before {
  content: "\e611";
  color: #a5ded1;
}
.spa {
  border-left: 7px solid;
  border-color: #ddd0c0;
}
.spa .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.spa .icon-spa:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.spa .icon-spa:before {
  content: "\e613";
  color: #ddd0c0;
}
.etc {
  border-left: 7px solid;
  border-color: #a6e1e8;
}
.etc .iconMixin:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.etc .icon-etc:before {
  position: absolute;
  font-size: 40px;
  left: -50px;
  top: -5px;
}
.etc .icon-etc:before {
  content: "\e60d";
  color: #a6e1e8;
}
